<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateLikeCommand</key>
	<string>observerWorkIndex</string>
	<key>columnForMode</key>
	<string>observerStyleMargin</string>
	<key>currentSignPadding</key>
	<string>popupShapeBound</string>
	<key>difficultDocumentVisible</key>
	<string>layoutEnvironmentSize</string>
	<key>hashUntilObserver</key>
	<string>alignmentForWork</string>
	<key>intuitiveRequestIndex</key>
	<string>stateLayerTop</string>
	<key>particleIncludeMemento</key>
	<string>multiScaffoldFlags</string>
	<key>segueLikeForm</key>
	<string>denseQueueFeedback</string>
	<key>sequentialViewBrightness</key>
	<string>providerFrameworkInterval</string>
</dict>
</plist>
