<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionStyleName</key>
	<string>independentActionOpacity</string>
	<key>extensionUntilOperation</key>
	<string>reductionAlongBridge</string>
	<key>injectionSinceAdapter</key>
	<string>delicateVectorSkewx</string>
	<key>intermediateAwaitBound</key>
	<string>loopDecoratorSpeed</string>
	<key>lostSinkResponse</key>
	<string>layoutFacadeSkewy</string>
	<key>storeTempleInterval</key>
	<string>coordinatorPerPrototype</string>
	<key>touchStrategyTransparency</key>
	<string>histogramExceptStyle</string>
</dict>
</plist>
