<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>granularSampleOffset</key>
	<string>blocNumberRotation</string>
	<key>hierarchicalNibSize</key>
	<string>similarListviewStatus</string>
	<key>managerBesideMemento</key>
	<string>builderFrameworkSpeed</string>
	<key>mapInterpreterInset</key>
	<string>viewByFramework</string>
	<key>repositoryVarAlignment</key>
	<string>scaffoldActionPressure</string>
</dict>
</plist>
