<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>desktopMethodSpacing</key>
	<string>positionedStateMode</string>
	<key>granularCommandTransparency</key>
	<string>storageCommandVelocity</string>
	<key>isolateKindBound</key>
	<string>robustObserverValidation</string>
	<key>providerPerObserver</key>
	<string>streamStateTransparency</string>
	<key>radioEnvironmentInset</key>
	<string>skinInMode</string>
	<key>roleWithoutInterpreter</key>
	<string>lastFeatureShape</string>
	<key>slashVersusType</key>
	<string>dependencyBufferHue</string>
	<key>substantialReductionDirection</key>
	<string>lossShapeValidation</string>
</dict>
</plist>
