<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorFromShape</key>
	<string>presenterCommandOrientation</string>
	<key>basePerProcess</key>
	<string>challengeInsideState</string>
	<key>errorPhaseState</key>
	<string>mediocreBulletSpacing</string>
	<key>eventInsideChain</key>
	<string>monsterAtProxy</string>
	<key>overlayTempleVisible</key>
	<string>effectStyleAppearance</string>
	<key>resultVersusCycle</key>
	<string>activatedLayoutSkewy</string>
	<key>scrollableBuilderTag</key>
	<string>cubeLayerResponse</string>
	<key>stackOutsidePhase</key>
	<string>coordinatorFromTemple</string>
	<key>usecasePhaseRate</key>
	<string>asyncCycleHue</string>
</dict>
</plist>
