<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitTaskValidation</key>
	<string>listviewLevelForce</string>
	<key>immutableCurveBehavior</key>
	<string>shaderTaskResponse</string>
	<key>inheritedVectorMode</key>
	<string>mediaAmongSingleton</string>
	<key>intensityAgainstChain</key>
	<string>positionProcessBorder</string>
	<key>lastHashSkewy</key>
	<string>loopWithShape</string>
	<key>lastInkwellOffset</key>
	<string>getxShapeTail</string>
	<key>offsetValueScale</key>
	<string>rectJobStatus</string>
	<key>segueTaskStatus</key>
	<string>chartAsCommand</string>
	<key>storyboardAlongMediator</key>
	<string>layoutThroughBuffer</string>
	<key>widgetAwayForm</key>
	<string>associatedCertificateFeedback</string>
</dict>
</plist>
