<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedConstraintColor</key>
	<string>nextExceptionEdge</string>
	<key>columnWithoutSystem</key>
	<string>callbackViaPrototype</string>
	<key>commandAlongContext</key>
	<string>cupertinoMediatorMomentum</string>
	<key>descriptorAboutCycle</key>
	<string>particleOperationContrast</string>
	<key>groupMementoInterval</key>
	<string>asyncObserverBrightness</string>
	<key>missionBeyondState</key>
	<string>resolverBufferTension</string>
	<key>stepBufferScale</key>
	<string>painterDecoratorMode</string>
</dict>
</plist>
