<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionTabviewFlags</key>
	<string>decorationStructureSpacing</string>
	<key>animatedcontainerAboutType</key>
	<string>memberUntilMode</string>
	<key>delegateWithMethod</key>
	<string>protocolAroundParameter</string>
	<key>easyBlocKind</key>
	<string>protocolDespiteTier</string>
	<key>lostFeatureDensity</key>
	<string>lossAboutVisitor</string>
	<key>musicFrameworkSpeed</key>
	<string>unactivatedBulletIndex</string>
	<key>reactiveBulletLeft</key>
	<string>durationMementoMomentum</string>
</dict>
</plist>
