<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directlyPointTension</key>
	<string>concurrentApertureDuration</string>
	<key>grainAsTask</key>
	<string>particleVersusAction</string>
	<key>sophisticatedTaskBehavior</key>
	<string>previewAgainstWork</string>
	<key>zoneAgainstJob</key>
	<string>parallelInstructionStatus</string>
</dict>
</plist>
