<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contractionInBridge</key>
	<string>exponentSingletonShade</string>
	<key>directlyApertureCenter</key>
	<string>localConstraintCenter</string>
	<key>mediocreHashColor</key>
	<string>navigatorAtSingleton</string>
	<key>memberChainLocation</key>
	<string>signFormDensity</string>
	<key>sequentialLabelOffset</key>
	<string>prevControllerPadding</string>
	<key>unactivatedStorageSize</key>
	<string>instructionUntilMemento</string>
</dict>
</plist>
