<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>columnOfForm</key>
	<string>cosineIncludeNumber</string>
	<key>futureExceptComposite</key>
	<string>checkboxAdapterShade</string>
	<key>imageAndCommand</key>
	<string>primaryUnaryInteraction</string>
	<key>interpolationFlyweightTheme</key>
	<string>diversifiedPageviewState</string>
	<key>queryNearMode</key>
	<string>tweenForMediator</string>
</dict>
</plist>
