<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>effectExceptEnvironment</key>
	<string>lastInjectionRotation</string>
	<key>exceptionByType</key>
	<string>zoneFromMemento</string>
	<key>nextAnchorDelay</key>
	<string>explicitCoordinatorFrequency</string>
	<key>permanentBlocOffset</key>
	<string>awaitAgainstBridge</string>
	<key>prismaticMethodVelocity</key>
	<string>threadPatternPadding</string>
	<key>standaloneTabviewTop</key>
	<string>musicParameterLocation</string>
	<key>subscriptionBeyondComposite</key>
	<string>logarithmActionOpacity</string>
</dict>
</plist>
