<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batchPhaseLeft</key>
	<string>imageBesideBridge</string>
	<key>imageKindMode</key>
	<string>inactiveMediaMode</string>
	<key>managerFromStrategy</key>
	<string>batchForBuffer</string>
	<key>popupAroundOperation</key>
	<string>canvasLayerShade</string>
	<key>radioKindDensity</key>
	<string>rectSingletonHead</string>
	<key>sessionOfMediator</key>
	<string>backwardTransitionSkewx</string>
	<key>sharedHandlerOrientation</key>
	<string>granularChallengeMargin</string>
</dict>
</plist>
