<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>composableLayoutSpacing</key>
	<string>memberVarOffset</string>
	<key>dialogsPlatformOrigin</key>
	<string>gesturedetectorMementoCoord</string>
	<key>finalHandlerType</key>
	<string>gridPerOperation</string>
	<key>matrixScopeAlignment</key>
	<string>singlePointIndex</string>
	<key>pivotalRouteScale</key>
	<string>blocJobRate</string>
	<key>radiusSinceLevel</key>
	<string>eventAgainstParam</string>
	<key>semanticCardLeft</key>
	<string>swiftNearStyle</string>
	<key>sliderAlongMode</key>
	<string>activityPerPhase</string>
	<key>timerVersusBuffer</key>
	<string>operationInTier</string>
</dict>
</plist>
