<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorSinceFunction</key>
	<string>positionNearEnvironment</string>
	<key>mainCompositionSaturation</key>
	<string>inheritedEntityBrightness</string>
	<key>pageviewUntilPhase</key>
	<string>gridAwayTemple</string>
	<key>positionedAsPrototype</key>
	<string>cardDespiteObserver</string>
	<key>robustSessionType</key>
	<string>mobileEffectMargin</string>
</dict>
</plist>
