<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checklistBeyondStructure</key>
	<string>statefulDelegateName</string>
	<key>graphEnvironmentKind</key>
	<string>progressbarAboutVariable</string>
	<key>graphOperationRotation</key>
	<string>chapterVersusFacade</string>
	<key>smallPreviewShape</key>
	<string>cupertinoBridgeShade</string>
</dict>
</plist>
