<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintFacadeBottom</key>
	<string>cellFlyweightBottom</string>
	<key>hierarchicalBulletDepth</key>
	<string>enabledSkinBrightness</string>
	<key>relationalCubitFormat</key>
	<string>inactiveTransformerTheme</string>
	<key>scrollableCacheIndex</key>
	<string>inactiveMissionFlags</string>
	<key>textureWithStructure</key>
	<string>checkboxStageSkewy</string>
</dict>
</plist>
