<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedInstructionBound</key>
	<string>containerMementoDelay</string>
	<key>delegateVisitorDepth</key>
	<string>tappableLabelTension</string>
	<key>modelAgainstChain</key>
	<string>masterSinceCommand</string>
	<key>navigatorAgainstValue</key>
	<string>granularGridviewStyle</string>
	<key>substantialCharacterInteraction</key>
	<string>lazyAllocatorInterval</string>
	<key>textureObserverTint</key>
	<string>grainTierDelay</string>
</dict>
</plist>
