<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticIncludeParam</key>
	<string>inkwellCycleDensity</string>
	<key>chapterCompositeStyle</key>
	<string>collectionTaskTension</string>
	<key>exceptionKindOffset</key>
	<string>alertStageInset</string>
	<key>graphProxySkewx</key>
	<string>reactiveRoleDirection</string>
	<key>independentErrorTheme</key>
	<string>entropyStyleOrientation</string>
	<key>modelKindIndex</key>
	<string>pivotalTextOffset</string>
	<key>playbackFromStrategy</key>
	<string>symbolDespiteLevel</string>
	<key>queryAmongShape</key>
	<string>iterativeMetadataDistance</string>
	<key>statelessDurationTag</key>
	<string>frameKindTension</string>
</dict>
</plist>
