<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contractionOrStrategy</key>
	<string>scrollWithoutParam</string>
	<key>entityFunctionDensity</key>
	<string>singletonMementoCenter</string>
	<key>graphCommandMomentum</key>
	<string>widgetAwayParameter</string>
	<key>presenterProcessLocation</key>
	<string>primaryPreviewTransparency</string>
	<key>requestSinceFacade</key>
	<string>constraintWithCycle</string>
	<key>scaleStrategyPadding</key>
	<string>providerOutsideStructure</string>
</dict>
</plist>
