<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>errorTaskTheme</key>
	<string>liteStatefulScale</string>
	<key>futurePhaseMode</key>
	<string>missedDescriptorStatus</string>
	<key>interactorFormMode</key>
	<string>isolateBeyondForm</string>
	<key>providerAdapterCount</key>
	<string>profileFlyweightRate</string>
</dict>
</plist>
