<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedDropdownbuttonCenter</key>
	<string>invisibleControllerBottom</string>
	<key>graphicFromTemple</key>
	<string>cupertinoAlongStage</string>
	<key>heapPlatformRight</key>
	<string>durationWithTemple</string>
	<key>inheritedTickerSkewy</key>
	<string>storyboardWithTemple</string>
	<key>modelParameterResponse</key>
	<string>subscriptionExceptKind</string>
	<key>publicProviderTheme</key>
	<string>enabledRemainderTail</string>
</dict>
</plist>
