<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonTextVelocity</key>
	<string>contractionInsideType</string>
	<key>expandedChainBorder</key>
	<string>aspectAroundContext</string>
	<key>independentLocalizationDuration</key>
	<string>axisDespiteDecorator</string>
	<key>movementStyleState</key>
	<string>dynamicQueueFrequency</string>
	<key>navigatorProxyAlignment</key>
	<string>storageFacadeState</string>
	<key>prismaticDecorationTag</key>
	<string>missionOfCommand</string>
	<key>reactiveSkirtCenter</key>
	<string>statelessChannelRotation</string>
	<key>seamlessReducerPressure</key>
	<string>pivotalLabelSize</string>
</dict>
</plist>
