<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorPerVar</key>
	<string>standaloneSegueTop</string>
	<key>borderBufferFrequency</key>
	<string>opaqueCardTop</string>
	<key>containerWithShape</key>
	<string>protocolInTask</string>
	<key>delegateProcessRate</key>
	<string>vectorUntilVariable</string>
	<key>exceptionInsideFlyweight</key>
	<string>webTangentInterval</string>
	<key>logarithmStageVelocity</key>
	<string>methodAwayAction</string>
	<key>missedRepositoryFeedback</key>
	<string>nativeIntegerTail</string>
	<key>plateInAction</key>
	<string>autoRowTransparency</string>
	<key>semanticContainerRight</key>
	<string>characterFlyweightShape</string>
</dict>
</plist>
