<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandSystemLeft</key>
	<string>labelAndFunction</string>
	<key>composableAnchorSkewy</key>
	<string>injectionStateCenter</string>
	<key>firstMomentumEdge</key>
	<string>rowNearContext</string>
	<key>presenterBesideVar</key>
	<string>missedGridTheme</string>
	<key>substantialStackHue</key>
	<string>techniqueFrameworkFormat</string>
	<key>vectorFromStage</key>
	<string>momentumAgainstParameter</string>
</dict>
</plist>
