<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleMusicDistance</key>
	<string>masterDuringProxy</string>
	<key>apertureLikeMethod</key>
	<string>crudeDocumentAlignment</string>
	<key>cartesianGrayscaleSpacing</key>
	<string>topicParameterSize</string>
	<key>eventFunctionPressure</key>
	<string>sampleObserverColor</string>
	<key>grainExceptSingleton</key>
	<string>directlyMemberTension</string>
	<key>imageContainCommand</key>
	<string>awaitLikeParam</string>
	<key>metadataThroughState</key>
	<string>errorFromVariable</string>
	<key>mobileInterfaceValidation</key>
	<string>controllerExceptCommand</string>
	<key>seamlessCharacterTail</key>
	<string>sineIncludeStrategy</string>
	<key>spriteForOperation</key>
	<string>awaitIncludeSingleton</string>
</dict>
</plist>
