<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardTabviewIndex</key>
	<string>curveFromJob</string>
	<key>equalizationWorkDirection</key>
	<string>popupOperationTint</string>
	<key>lazyStorageBehavior</key>
	<string>grainFromForm</string>
	<key>mainTangentShade</key>
	<string>durationStyleCenter</string>
	<key>mapOfBuffer</key>
	<string>progressbarPatternColor</string>
	<key>projectLevelTint</key>
	<string>commandVersusMethod</string>
</dict>
</plist>
