<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>exceptionByBridge</key>
	<string>notifierActionBorder</string>
	<key>handlerSingletonDirection</key>
	<string>buttonIncludePlatform</string>
	<key>prismaticToolHead</key>
	<string>reusableTangentType</string>
	<key>serviceBeyondMethod</key>
	<string>streamEnvironmentMode</string>
</dict>
</plist>
