<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncAlongFunction</key>
	<string>widgetDespiteCommand</string>
	<key>declarativeBorderPressure</key>
	<string>painterAlongComposite</string>
	<key>difficultSemanticsTransparency</key>
	<string>specifyVectorName</string>
	<key>entityScopeBehavior</key>
	<string>deferredAllocatorStyle</string>
	<key>handlerActivityResponse</key>
	<string>litePlaybackDuration</string>
	<key>layoutForStyle</key>
	<string>handlerLikeSystem</string>
	<key>remainderFlyweightDirection</key>
	<string>desktopAspectratioAppearance</string>
	<key>resultInsideStage</key>
	<string>progressbarActivityMargin</string>
	<key>themeDuringFlyweight</key>
	<string>momentumPlatformTail</string>
</dict>
</plist>
