<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitStyleHue</key>
	<string>specifierSinceMethod</string>
	<key>disparateChallengeTint</key>
	<string>curveModeSaturation</string>
	<key>mediumTaskDepth</key>
	<string>tweenTierMode</string>
	<key>rapidGridviewCoord</key>
	<string>resourceVersusSystem</string>
	<key>uniqueAnchorDelay</key>
	<string>captionBesideTemple</string>
</dict>
</plist>
