<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineKindScale</key>
	<string>sliderAgainstWork</string>
	<key>bufferContainType</key>
	<string>metadataStyleOffset</string>
	<key>compositionalBuilderOpacity</key>
	<string>multiplicationInterpreterLeft</string>
	<key>concreteFactoryDuration</key>
	<string>accessibleRadiusLeft</string>
	<key>operationStageOffset</key>
	<string>errorKindTop</string>
	<key>similarTableOffset</key>
	<string>playbackBufferTop</string>
	<key>swiftUntilFacade</key>
	<string>operationAwayFunction</string>
</dict>
</plist>
