<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoGroupCenter</key>
	<string>logChainDepth</string>
	<key>notificationAmongProcess</key>
	<string>opaqueAlertType</string>
	<key>previewUntilShape</key>
	<string>associatedLayoutDepth</string>
	<key>radiusInsideVar</key>
	<string>commonLabelAppearance</string>
	<key>transformerVarDuration</key>
	<string>streamByType</string>
	<key>utilJobBound</key>
	<string>clipperWithFramework</string>
</dict>
</plist>
