<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorLevelBorder</key>
	<string>rectTierPadding</string>
	<key>builderScopeForce</key>
	<string>comprehensiveModelOpacity</string>
	<key>coordinatorCommandRotation</key>
	<string>gestureVarTension</string>
	<key>equipmentBesideFunction</key>
	<string>concurrentGrainDistance</string>
	<key>explicitScaffoldSkewx</key>
	<string>retainedNodeSaturation</string>
	<key>finalRowAlignment</key>
	<string>imperativeRowPressure</string>
	<key>firstLabelSpacing</key>
	<string>missedTabbarTheme</string>
	<key>positionIncludePlatform</key>
	<string>largeAsyncForce</string>
	<key>respectiveTopicHead</key>
	<string>coordinatorVariableCoord</string>
</dict>
</plist>
