<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationFromAdapter</key>
	<string>aspectBesideScope</string>
	<key>elasticInterfacePressure</key>
	<string>queueParamCount</string>
	<key>factoryMediatorMode</key>
	<string>documentTaskSkewx</string>
	<key>metadataOperationMomentum</key>
	<string>methodValueResponse</string>
	<key>metadataScopePressure</key>
	<string>asynchronousRadiusAppearance</string>
	<key>permanentAlignmentFeedback</key>
	<string>asynchronousIntensityHue</string>
	<key>roleLikeType</key>
	<string>activityDuringType</string>
	<key>singletonDuringMode</key>
	<string>alertPatternFrequency</string>
	<key>statefulStatefulCoord</key>
	<string>heapUntilContext</string>
	<key>transitionDuringEnvironment</key>
	<string>decorationPrototypeDensity</string>
</dict>
</plist>
