<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationAboutPhase</key>
	<string>numericalDecorationBrightness</string>
	<key>asyncScopeBehavior</key>
	<string>singletonOfFacade</string>
	<key>concurrentSignatureOrigin</key>
	<string>normWorkTransparency</string>
	<key>eventStrategyBrightness</key>
	<string>staticMomentumState</string>
	<key>interactiveKernelLeft</key>
	<string>batchShapeTag</string>
	<key>lazyTabbarFlags</key>
	<string>retainedContainerSpacing</string>
	<key>optionViaScope</key>
	<string>animatedVectorLeft</string>
	<key>prevErrorVisibility</key>
	<string>inactiveRouterShape</string>
	<key>sinkVisitorCoord</key>
	<string>catalystSinceMemento</string>
	<key>topicFrameworkVisible</key>
	<string>sliderModeRight</string>
</dict>
</plist>
