<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleTitleSkewy</key>
	<string>entityFromScope</string>
	<key>buttonKindSkewx</key>
	<string>hyperbolicNavigatorTop</string>
	<key>comprehensivePopupDensity</key>
	<string>equalizationIncludeNumber</string>
	<key>cubitContextMargin</key>
	<string>gemFrameworkInterval</string>
	<key>graphUntilTask</key>
	<string>queueThanTier</string>
	<key>graphicDuringDecorator</key>
	<string>builderPrototypeFlags</string>
	<key>providerAgainstParam</key>
	<string>factoryLevelTop</string>
	<key>unactivatedErrorAppearance</key>
	<string>queryPhaseOpacity</string>
</dict>
</plist>
