<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelAboutParameter</key>
	<string>dimensionStructureCoord</string>
	<key>currentCatalystVisible</key>
	<string>greatCardPadding</string>
	<key>elasticCharacterBrightness</key>
	<string>specifierContextAlignment</string>
	<key>providerAroundAdapter</key>
	<string>gesturedetectorKindInset</string>
</dict>
</plist>
