<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorVisitorContrast</key>
	<string>uniquePresenterRate</string>
	<key>desktopStatefulForce</key>
	<string>consultativePriorityMode</string>
	<key>isolateDuringNumber</key>
	<string>optimizerMethodBottom</string>
	<key>multiplicationVariableOrientation</key>
	<string>tweenWorkOrientation</string>
	<key>respectivePopupTail</key>
	<string>viewDuringEnvironment</string>
	<key>sophisticatedDependencyVisibility</key>
	<string>viewTypeHead</string>
</dict>
</plist>
