<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationDespiteMemento</key>
	<string>controllerAtContext</string>
	<key>blocChainRight</key>
	<string>queryPlatformBottom</string>
	<key>controllerValueFormat</key>
	<string>alertUntilDecorator</string>
	<key>drawerFormForce</key>
	<string>sceneTempleMomentum</string>
	<key>ignoredBehaviorStatus</key>
	<string>eagerCompositionInteraction</string>
	<key>injectionVarBehavior</key>
	<string>functionalServiceFlags</string>
	<key>intermediateModulusScale</key>
	<string>titleAndBuffer</string>
	<key>notificationInsideAdapter</key>
	<string>subsequentStorageBound</string>
	<key>tweenJobName</key>
	<string>statefulPresenterPosition</string>
	<key>variantVariableOpacity</key>
	<string>statelessActionDirection</string>
</dict>
</plist>
