<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentGrayscalePosition</key>
	<string>statelessStateMargin</string>
	<key>explicitTextSkewx</key>
	<string>directGestureDelay</string>
	<key>functionalRiverpodSkewy</key>
	<string>robustMediaTop</string>
	<key>offsetAroundLevel</key>
	<string>singletonWithoutTier</string>
	<key>resolverObserverBehavior</key>
	<string>semanticOffsetDepth</string>
	<key>screenForStructure</key>
	<string>marginPrototypeBottom</string>
	<key>secondObserverSaturation</key>
	<string>numericalGestureBorder</string>
</dict>
</plist>
