<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerStructureValidation</key>
	<string>streamWithoutParam</string>
	<key>dependencyInsideLayer</key>
	<string>sensorTypeOffset</string>
	<key>exceptionAsProxy</key>
	<string>graphFromNumber</string>
	<key>explicitPresenterTransparency</key>
	<string>resultOperationSkewx</string>
	<key>largeAnchorLeft</key>
	<string>comprehensiveTopicShade</string>
	<key>projectionStructureBottom</key>
	<string>alertTypeBorder</string>
	<key>rapidEntropyOrigin</key>
	<string>listviewStageSpeed</string>
	<key>repositoryThanActivity</key>
	<string>standaloneCapsuleAppearance</string>
	<key>scaffoldAndPhase</key>
	<string>masterContainProcess</string>
</dict>
</plist>
