<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayableNavigatorInset</key>
	<string>flexibleCommandTint</string>
	<key>entityLevelMomentum</key>
	<string>curveBesideMemento</string>
	<key>exceptionUntilFlyweight</key>
	<string>mobileLikeFlyweight</string>
	<key>logarithmPrototypeTransparency</key>
	<string>modelDuringActivity</string>
	<key>querySinceBridge</key>
	<string>typicalTextfieldVisibility</string>
	<key>resolverLevelLeft</key>
	<string>protectedColumnOrientation</string>
	<key>sizeFlyweightSkewy</key>
	<string>parallelControllerHead</string>
	<key>tickerSinceValue</key>
	<string>euclideanLogFrequency</string>
</dict>
</plist>
