<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentOrBuffer</key>
	<string>specifyInjectionBrightness</string>
	<key>arithmeticMasterLocation</key>
	<string>cacheOutsideFlyweight</string>
	<key>diversifiedChecklistDistance</key>
	<string>displayableBlocState</string>
	<key>featureMementoColor</key>
	<string>arithmeticSwitchBrightness</string>
	<key>iconForPrototype</key>
	<string>protectedCapsuleOpacity</string>
	<key>promiseBesidePhase</key>
	<string>reactiveFrameLeft</string>
	<key>serviceViaSystem</key>
	<string>resourceBridgeState</string>
	<key>subpixelInterpreterSize</key>
	<string>checklistInCommand</string>
	<key>tabviewStyleBottom</key>
	<string>constraintJobOrigin</string>
	<key>timerUntilFramework</key>
	<string>interpolationFormPressure</string>
</dict>
</plist>
