<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>easyTernarySpeed</key>
	<string>responseExceptStructure</string>
	<key>missionAlongState</key>
	<string>lazyScaleMargin</string>
	<key>mutableGraphAppearance</key>
	<string>typicalRadiusLeft</string>
</dict>
</plist>
