<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardMetadataBottom</key>
	<string>primaryClipperName</string>
	<key>grainActivityCoord</key>
	<string>comprehensiveTaskCount</string>
	<key>prevDropdownbuttonSaturation</key>
	<string>decorationJobDensity</string>
	<key>routeStyleLocation</key>
	<string>labelAndContext</string>
</dict>
</plist>
