<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderStyleTail</key>
	<string>behaviorFacadeOffset</string>
	<key>desktopExpandedDensity</key>
	<string>permissiveLabelStyle</string>
	<key>keyFragmentDirection</key>
	<string>threadBufferAlignment</string>
	<key>relationalQueryVelocity</key>
	<string>skirtBeyondParameter</string>
	<key>significantDurationPosition</key>
	<string>significantDecorationDensity</string>
	<key>sizeSingletonTension</key>
	<string>requestDuringVar</string>
	<key>storageDespiteForm</key>
	<string>liteModelBottom</string>
</dict>
</plist>
