<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bulletLayerHead</key>
	<string>swiftUntilProxy</string>
	<key>commandBeyondState</key>
	<string>alertAboutMediator</string>
	<key>entityThanChain</key>
	<string>queryObserverValidation</string>
	<key>immediateSegueTint</key>
	<string>interfaceJobHead</string>
	<key>inkwellAmongEnvironment</key>
	<string>curveJobInterval</string>
	<key>invisibleLabelDirection</key>
	<string>constraintUntilJob</string>
	<key>resultBesideEnvironment</key>
	<string>cupertinoProgressbarInteraction</string>
	<key>topicBeyondPlatform</key>
	<string>completerCycleContrast</string>
</dict>
</plist>
