<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandCommandAppearance</key>
	<string>containerTierBrightness</string>
	<key>comprehensiveTaskAlignment</key>
	<string>protectedExceptionDensity</string>
	<key>difficultRepositoryCenter</key>
	<string>normSinceSingleton</string>
	<key>multiTransformerBound</key>
	<string>nextPreviewHead</string>
	<key>sliderDuringCycle</key>
	<string>titleWithTier</string>
	<key>swiftAmongStructure</key>
	<string>coordinatorTypeFrequency</string>
</dict>
</plist>
