<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelsSingletonSkewy</key>
	<string>opaqueChannelsMomentum</string>
	<key>controllerProxyOrientation</key>
	<string>chapterAtValue</string>
	<key>decorationActivityOrigin</key>
	<string>notificationParameterBrightness</string>
	<key>geometricConvolutionAlignment</key>
	<string>exceptionForProcess</string>
	<key>graphStateHue</key>
	<string>eventThanFlyweight</string>
	<key>iconVisitorLeft</key>
	<string>providerObserverForce</string>
	<key>independentReductionType</key>
	<string>factoryFlyweightTheme</string>
	<key>intermediateTopicInterval</key>
	<string>particleViaStrategy</string>
	<key>providerBesideComposite</key>
	<string>baselineKindPosition</string>
	<key>textfieldSinceSingleton</key>
	<string>logDuringObserver</string>
</dict>
</plist>
