<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedDropdownbuttonPressure</key>
	<string>axisForSystem</string>
	<key>alphaBufferOrigin</key>
	<string>resilientCaptionSkewx</string>
	<key>asyncProgressbarMode</key>
	<string>hierarchicalErrorOrientation</string>
	<key>graphicAboutTier</key>
	<string>reductionContainMethod</string>
	<key>paddingSystemBehavior</key>
	<string>compositionEnvironmentHead</string>
	<key>particleThroughFunction</key>
	<string>bulletActivityScale</string>
	<key>querySinceMode</key>
	<string>coordinatorCompositeDistance</string>
	<key>rectSystemTail</key>
	<string>buttonAsOperation</string>
	<key>subsequentInstructionOrigin</key>
	<string>gateCommandInteraction</string>
</dict>
</plist>
