<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxContainFramework</key>
	<string>presenterActivityEdge</string>
	<key>configurationOperationRate</key>
	<string>getxWithObserver</string>
	<key>greatConstraintTension</key>
	<string>protocolIncludeWork</string>
	<key>specifierTierVisible</key>
	<string>specifierFrameworkDepth</string>
</dict>
</plist>
