<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>equipmentWorkDuration</key>
	<string>streamMethodFlags</string>
	<key>memberStageBound</key>
	<string>listviewAlongMemento</string>
	<key>methodIncludeProcess</key>
	<string>boxshadowVisitorSkewx</string>
	<key>presenterLevelDirection</key>
	<string>mediaqueryKindFlags</string>
	<key>rowAgainstComposite</key>
	<string>mediumEventShape</string>
	<key>scrollableTickerAlignment</key>
	<string>nodeAsBridge</string>
	<key>sharedEffectStyle</key>
	<string>scrollUntilFramework</string>
	<key>visibleChannelDuration</key>
	<string>associatedNavigatorTension</string>
</dict>
</plist>
