<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerThanKind</key>
	<string>blocActivityLeft</string>
	<key>gesturedetectorActionVisible</key>
	<string>textureAlongLayer</string>
	<key>liteStorePosition</key>
	<string>autoAllocatorFlags</string>
	<key>localizationFlyweightLeft</key>
	<string>iconByFramework</string>
	<key>localizationOfMemento</key>
	<string>actionContextRight</string>
	<key>movementProcessSkewy</key>
	<string>delicateMusicSpeed</string>
	<key>normalMaterialOrientation</key>
	<string>tabviewWorkVisibility</string>
	<key>reactiveTaskSpeed</key>
	<string>menuContainActivity</string>
	<key>repositoryByDecorator</key>
	<string>painterProxyShape</string>
	<key>typicalStampVisibility</key>
	<string>uniqueBaseDepth</string>
</dict>
</plist>
