<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>durationFormTheme</key>
	<string>sustainableGrainTransparency</string>
	<key>immediateInterfaceHead</key>
	<string>rectKindBorder</string>
	<key>intensityVarIndex</key>
	<string>navigatorTypeAcceleration</string>
	<key>mainPointValidation</key>
	<string>usedMasterResponse</string>
	<key>mobxJobResponse</key>
	<string>similarAlertRotation</string>
</dict>
</plist>
