<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerSystemTheme</key>
	<string>activityOperationTop</string>
	<key>finalDescriptionShape</key>
	<string>substantialTextDistance</string>
	<key>imperativeSampleInset</key>
	<string>criticalStorageDensity</string>
	<key>lossVisitorSpeed</key>
	<string>independentExceptionOpacity</string>
	<key>resultExceptType</key>
	<string>behaviorInActivity</string>
	<key>standaloneParticleTop</key>
	<string>painterCompositeBound</string>
	<key>statefulBuilderColor</key>
	<string>tangentAdapterFormat</string>
	<key>tappableOffsetSpeed</key>
	<string>pageviewContainFunction</string>
</dict>
</plist>
