<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cupertinoDropdownbuttonPosition</key>
	<string>interfaceTierTint</string>
	<key>expandedOrVisitor</key>
	<string>skirtVariableAlignment</string>
	<key>explicitPlateDensity</key>
	<string>delicateCoordinatorEdge</string>
	<key>gramStateSpeed</key>
	<string>consultativeRadioAlignment</string>
	<key>heroInsideStyle</key>
	<string>screenInTier</string>
	<key>methodInTier</key>
	<string>contractionPrototypeAppearance</string>
	<key>popupProxyColor</key>
	<string>modulusCompositeHead</string>
	<key>transformerAdapterRotation</key>
	<string>disabledConfigurationOrigin</string>
</dict>
</plist>
