<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioObserverCount</key>
	<string>skirtVariableBottom</string>
	<key>awaitThroughStrategy</key>
	<string>presenterInsideValue</string>
	<key>captionValueType</key>
	<string>effectThroughForm</string>
	<key>exceptionAsVariable</key>
	<string>statelessAlongMethod</string>
	<key>gemDuringLevel</key>
	<string>priorFeatureDirection</string>
	<key>musicSingletonVelocity</key>
	<string>configurationAwayValue</string>
	<key>normLikeForm</key>
	<string>sliderVariableRate</string>
	<key>requestStateTension</key>
	<string>menuAboutMemento</string>
	<key>resilientBaselineLocation</key>
	<string>convolutionOfVariable</string>
	<key>zoneStageLeft</key>
	<string>clipperPhaseAppearance</string>
</dict>
</plist>
