<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureFromValue</key>
	<string>subpixelTypeInteraction</string>
	<key>bufferVersusWork</key>
	<string>localizationAboutFacade</string>
	<key>channelsInsideContext</key>
	<string>progressbarShapePadding</string>
	<key>gramObserverDelay</key>
	<string>scrollPrototypeSkewx</string>
	<key>invisibleCacheBorder</key>
	<string>beginnerChapterOpacity</string>
	<key>streamValueFeedback</key>
	<string>visibleGestureDelay</string>
</dict>
</plist>
