<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectTempleMargin</key>
	<string>localizationAroundAdapter</string>
	<key>euclideanScaleDelay</key>
	<string>prevGrainBrightness</string>
	<key>interfaceForAdapter</key>
	<string>dropdownbuttonOrValue</string>
	<key>mobileEventCenter</key>
	<string>compositionalRouterFlags</string>
	<key>petParamDistance</key>
	<string>modalMementoDepth</string>
	<key>rowFunctionTag</key>
	<string>typicalSubscriptionInteraction</string>
</dict>
</plist>
