<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoTransformerCoord</key>
	<string>tickerTypeCenter</string>
	<key>axisBridgeMomentum</key>
	<string>firstTangentFlags</string>
	<key>commonRiverpodDirection</key>
	<string>positionWithType</string>
	<key>containerExceptPlatform</key>
	<string>mediaqueryBridgeMomentum</string>
	<key>criticalGraphIndex</key>
	<string>robustHashLeft</string>
	<key>dropdownbuttonWorkSize</key>
	<string>subtleScreenShape</string>
	<key>equalizationLikeFlyweight</key>
	<string>histogramWithOperation</string>
	<key>primarySignFrequency</key>
	<string>storageStructureOpacity</string>
</dict>
</plist>
