<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>deferredOptimizerHead</key>
	<string>coordinatorProxyBorder</string>
	<key>descriptorKindTension</key>
	<string>callbackContextRotation</string>
	<key>histogramMediatorSkewx</key>
	<string>basicBulletContrast</string>
	<key>persistentTweenStyle</key>
	<string>layoutThanActivity</string>
	<key>pinchableRichtextDelay</key>
	<string>marginTypeVelocity</string>
	<key>prevOverlayResponse</key>
	<string>musicOrParameter</string>
</dict>
</plist>
