<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardChartCoord</key>
	<string>publicDescriptionCenter</string>
	<key>crucialTechniqueOffset</key>
	<string>immutableMethodFlags</string>
	<key>liteInterfacePadding</key>
	<string>interactorPrototypeColor</string>
	<key>pageviewAwayAdapter</key>
	<string>usedProviderIndex</string>
	<key>statelessDuringBuffer</key>
	<string>transformerVarKind</string>
	<key>usageTaskForce</key>
	<string>animatedcontainerPlatformBrightness</string>
</dict>
</plist>
