<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>extensionAsAdapter</key>
	<string>alignmentAmongVisitor</string>
	<key>hierarchicalCapacitiesTint</key>
	<string>layoutViaDecorator</string>
	<key>layoutNearNumber</key>
	<string>publicTweenMode</string>
	<key>listviewAboutObserver</key>
	<string>gridAndVisitor</string>
	<key>observerWithPlatform</key>
	<string>gradientInterpreterHue</string>
	<key>signatureInterpreterResponse</key>
	<string>criticalSignatureCoord</string>
	<key>sustainableListviewTag</key>
	<string>numericalAccessoryTheme</string>
</dict>
</plist>
