<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionTypeBorder</key>
	<string>vectorOfProxy</string>
	<key>blocCompositeInterval</key>
	<string>nodeJobContrast</string>
	<key>errorWithBridge</key>
	<string>inactiveIconScale</string>
	<key>firstGridBorder</key>
	<string>animatedcontainerTypeVisibility</string>
	<key>reusableCoordinatorVisible</key>
	<string>viewAboutActivity</string>
	<key>similarPromiseMomentum</key>
	<string>capsuleAgainstShape</string>
</dict>
</plist>
