<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineSystemIndex</key>
	<string>visibleGesturedetectorFlags</string>
	<key>globalStampInset</key>
	<string>errorOperationShape</string>
	<key>repositoryInsideTemple</key>
	<string>curveVersusComposite</string>
	<key>tappablePlateLeft</key>
	<string>asyncStoreCount</string>
</dict>
</plist>
