<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>columnByMemento</key>
	<string>resizableSpotDensity</string>
	<key>crucialResultScale</key>
	<string>resizableAlignmentVelocity</string>
	<key>modalSinceAction</key>
	<string>arithmeticInsideChain</string>
	<key>particleInsideObserver</key>
	<string>completionAsMediator</string>
	<key>promiseVisitorEdge</key>
	<string>exponentThroughTier</string>
	<key>reductionAsPrototype</key>
	<string>tickerVersusFunction</string>
	<key>resizablePlateMomentum</key>
	<string>prevUsecasePosition</string>
</dict>
</plist>
