<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>finalCaptionSize</key>
	<string>subscriptionActivityShape</string>
	<key>firstLogDirection</key>
	<string>typicalDurationAcceleration</string>
	<key>layoutVisitorPadding</key>
	<string>singletonNumberTail</string>
	<key>pageviewOperationVisible</key>
	<string>skirtTypeInset</string>
	<key>permissivePresenterTint</key>
	<string>delicateImageScale</string>
	<key>signTempleRate</key>
	<string>resizableAsyncTint</string>
	<key>tappableQueryLeft</key>
	<string>streamMethodKind</string>
</dict>
</plist>
