<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncJobForce</key>
	<string>descriptionValueCoord</string>
	<key>containerAroundPrototype</key>
	<string>captionTaskOrigin</string>
	<key>crucialIntegerForce</key>
	<string>managerFacadeSkewx</string>
	<key>dedicatedChannelsTint</key>
	<string>cupertinoAgainstShape</string>
	<key>equalizationInSingleton</key>
	<string>modelVisitorDensity</string>
	<key>relationalSpineFormat</key>
	<string>threadDuringWork</string>
	<key>sizedboxStageBrightness</key>
	<string>factoryUntilShape</string>
	<key>sustainableCursorPosition</key>
	<string>navigatorPrototypeName</string>
	<key>zonePerSingleton</key>
	<string>sliderStagePadding</string>
</dict>
</plist>
