<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileBufferVelocity</key>
	<string>apertureValueShade</string>
	<key>hardMultiplicationBound</key>
	<string>containerPrototypeDistance</string>
	<key>mediaPerLevel</key>
	<string>standaloneGesturedetectorShade</string>
	<key>metadataByActivity</key>
	<string>instructionUntilComposite</string>
	<key>mobxActionTheme</key>
	<string>responseLikeSingleton</string>
	<key>nodeVarAppearance</key>
	<string>subpixelAmongValue</string>
	<key>particleOperationSaturation</key>
	<string>resilientMetadataSize</string>
	<key>timerAroundParameter</key>
	<string>roleAboutSystem</string>
</dict>
</plist>
