<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferSinceVariable</key>
	<string>adaptiveLayerTop</string>
	<key>fragmentPatternSpeed</key>
	<string>animationVersusCycle</string>
	<key>navigatorParamInterval</key>
	<string>spriteAlongTask</string>
	<key>petCycleFeedback</key>
	<string>chapterForScope</string>
	<key>pivotalCompletionMode</key>
	<string>metadataIncludeLevel</string>
	<key>resilientCurveValidation</key>
	<string>cacheVarRotation</string>
	<key>resourceInsideMemento</key>
	<string>independentInteractorVisibility</string>
	<key>sinkActivityFlags</key>
	<string>projectionContainActivity</string>
</dict>
</plist>
