<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelStateSpeed</key>
	<string>temporaryMissionVelocity</string>
	<key>eagerStorageInset</key>
	<string>standaloneTransformerBrightness</string>
	<key>entitySinceChain</key>
	<string>binaryActionOrientation</string>
	<key>intensityEnvironmentTag</key>
	<string>cacheParameterDepth</string>
	<key>labelAtMediator</key>
	<string>commonProfileLeft</string>
	<key>scaleCompositeVelocity</key>
	<string>directEqualizationRate</string>
</dict>
</plist>
