<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartMementoOrigin</key>
	<string>viewOperationFlags</string>
	<key>denseCollectionSaturation</key>
	<string>actionExceptState</string>
	<key>fragmentNearFlyweight</key>
	<string>dedicatedChapterTag</string>
	<key>geometricMetadataShade</key>
	<string>commandEnvironmentLocation</string>
	<key>logarithmAboutFunction</key>
	<string>mainViewPadding</string>
	<key>prismaticRouteSkewy</key>
	<string>callbackVarStyle</string>
	<key>reductionContainLayer</key>
	<string>oldShaderSaturation</string>
	<key>retainedParticleHue</key>
	<string>offsetOfPrototype</string>
	<key>stateInterpreterBorder</key>
	<string>optimizerChainOffset</string>
	<key>temporarySpriteTension</key>
	<string>pointMediatorDensity</string>
</dict>
</plist>
