<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationMementoTransparency</key>
	<string>subscriptionKindLocation</string>
	<key>autoAnimationVisible</key>
	<string>containerWithoutPhase</string>
	<key>awaitAlongAdapter</key>
	<string>explicitOffsetRight</string>
	<key>containerModeFlags</key>
	<string>uniqueAnimatedcontainerSpeed</string>
	<key>controllerForLevel</key>
	<string>sinkThroughSystem</string>
	<key>cubeThanInterpreter</key>
	<string>inkwellInsideFramework</string>
	<key>intuitiveGrainBehavior</key>
	<string>overlayLikeWork</string>
	<key>logarithmFromVar</key>
	<string>imperativeEntityEdge</string>
	<key>mediocreResultBorder</key>
	<string>newestTweenBound</string>
</dict>
</plist>
