<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dropdownbuttonDuringProxy</key>
	<string>prevExpandedOpacity</string>
	<key>fixedEntityLocation</key>
	<string>repositoryContainForm</string>
	<key>hierarchicalGramRight</key>
	<string>hierarchicalDrawerRotation</string>
	<key>themeCycleTag</key>
	<string>descriptionBySystem</string>
	<key>toolAwayMemento</key>
	<string>greatManagerInteraction</string>
</dict>
</plist>
