<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticTabbarShade</key>
	<string>globalActionState</string>
	<key>awaitTypeShape</key>
	<string>permanentViewLocation</string>
	<key>captionKindType</key>
	<string>topicJobBrightness</string>
	<key>descriptionDespiteShape</key>
	<string>criticalTextSkewy</string>
	<key>directBlocTransparency</key>
	<string>inkwellTempleStyle</string>
	<key>featureAmongVar</key>
	<string>singletonDespiteTemple</string>
	<key>mobileActionOrigin</key>
	<string>comprehensiveExpandedTop</string>
	<key>routeIncludeLayer</key>
	<string>interactiveHandlerHead</string>
	<key>singletonNearFramework</key>
	<string>vectorLikeCommand</string>
</dict>
</plist>
