<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerBeyondProxy</key>
	<string>staticCubitIndex</string>
	<key>coordinatorCommandBound</key>
	<string>toolByEnvironment</string>
	<key>disparateFutureDuration</key>
	<string>pinchableNodeSkewy</string>
	<key>dynamicInstructionFlags</key>
	<string>subpixelContainBuffer</string>
	<key>specifyProviderVelocity</key>
	<string>protocolDecoratorSpacing</string>
</dict>
</plist>
