<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorActivityBound</key>
	<string>stepPerVariable</string>
	<key>denseWidgetSpacing</key>
	<string>streamScopeEdge</string>
	<key>managerExceptPlatform</key>
	<string>protocolBesideKind</string>
	<key>metadataVariableType</key>
	<string>futureMementoOrigin</string>
	<key>skirtStateType</key>
	<string>requestViaStyle</string>
</dict>
</plist>
