<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>certificateAtShape</key>
	<string>liteLogarithmLeft</string>
	<key>contractionIncludeProcess</key>
	<string>durationDuringFramework</string>
	<key>curveAboutObserver</key>
	<string>directlyListenerCount</string>
	<key>decorationActivityOffset</key>
	<string>scrollableLoopSaturation</string>
	<key>managerThroughVariable</key>
	<string>staticFutureStatus</string>
	<key>textAlongState</key>
	<string>isolateActivityOpacity</string>
</dict>
</plist>
