<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>convolutionVersusWork</key>
	<string>grainShapeTension</string>
	<key>persistentBulletShape</key>
	<string>taskFlyweightTint</string>
	<key>stampVariableRate</key>
	<string>singletonProxyAlignment</string>
	<key>statefulSinceValue</key>
	<string>reusableReducerLeft</string>
	<key>tableOperationSpacing</key>
	<string>tweenByLevel</string>
</dict>
</plist>
