<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaModeDirection</key>
	<string>globalResultAlignment</string>
	<key>buttonVisitorOffset</key>
	<string>disabledWidgetDirection</string>
	<key>queryContextDirection</key>
	<string>constraintBridgeState</string>
	<key>smartGateOrientation</key>
	<string>rectPrototypeBound</string>
	<key>stackActivityForce</key>
	<string>characterThanPlatform</string>
	<key>storeExceptCycle</key>
	<string>viewActivityBottom</string>
	<key>taskAwayFacade</key>
	<string>textfieldVarName</string>
</dict>
</plist>
