<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicCellBottom</key>
	<string>methodAroundPlatform</string>
	<key>bufferStageAlignment</key>
	<string>injectionByDecorator</string>
	<key>mediocreMaterialOrigin</key>
	<string>allocatorAtForm</string>
	<key>textOfPrototype</key>
	<string>visibleCharacterSaturation</string>
	<key>unsortedPaddingDepth</key>
	<string>threadVersusPattern</string>
</dict>
</plist>
