<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushOrForm</key>
	<string>grainBridgeStatus</string>
	<key>coordinatorAmongCommand</key>
	<string>usecasePrototypeShade</string>
	<key>durationVisitorDensity</key>
	<string>resilientStorageTint</string>
	<key>inheritedManagerVisible</key>
	<string>apertureFormShape</string>
	<key>parallelIntensitySkewx</key>
	<string>utilStyleRight</string>
	<key>pivotalRectShade</key>
	<string>navigatorAlongStyle</string>
	<key>referenceAdapterShape</key>
	<string>robustChartState</string>
	<key>statelessFromMode</key>
	<string>overlayMethodTheme</string>
</dict>
</plist>
