<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectSystemSize</key>
	<string>firstReducerOffset</string>
	<key>completerVariableStyle</key>
	<string>checklistLevelBorder</string>
	<key>constraintInterpreterMode</key>
	<string>asynchronousLabelInteraction</string>
	<key>controllerViaFunction</key>
	<string>interactorWorkTop</string>
	<key>inkwellAboutTier</key>
	<string>chapterVersusStyle</string>
	<key>metadataJobRate</key>
	<string>statefulVersusState</string>
	<key>taskInterpreterRate</key>
	<string>prismaticEntityBrightness</string>
</dict>
</plist>
