<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedCupertinoKind</key>
	<string>popupOfMemento</string>
	<key>cubitFormFrequency</key>
	<string>desktopExponentStyle</string>
	<key>momentumOrCycle</key>
	<string>taskEnvironmentSize</string>
	<key>rapidDropdownbuttonRight</key>
	<string>handlerSinceFramework</string>
	<key>reducerSystemFormat</key>
	<string>composableCertificateDepth</string>
	<key>seamlessButtonVisibility</key>
	<string>metadataMethodBorder</string>
	<key>subpixelLevelFeedback</key>
	<string>symmetricRepositoryState</string>
	<key>substantialTransitionOffset</key>
	<string>significantTransitionColor</string>
</dict>
</plist>
