<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardHistogramName</key>
	<string>concreteProviderTension</string>
	<key>buttonObserverBehavior</key>
	<string>completionFunctionLocation</string>
	<key>controllerBesideAction</key>
	<string>cartesianAssetOpacity</string>
	<key>largeAspectVisibility</key>
	<string>resolverLikeStrategy</string>
	<key>missedRowScale</key>
	<string>exceptionTypeMomentum</string>
	<key>optimizerFacadeRight</key>
	<string>checkboxSinceValue</string>
	<key>subtleProviderInset</key>
	<string>storyboardVersusFramework</string>
</dict>
</plist>
