<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorContextCoord</key>
	<string>materialAtWork</string>
	<key>behaviorCompositeMomentum</key>
	<string>routeAmongKind</string>
	<key>labelOrMemento</key>
	<string>directInterfaceScale</string>
	<key>listenerAwayTemple</key>
	<string>sophisticatedFragmentFlags</string>
	<key>mediaqueryKindMode</key>
	<string>resourceDespiteAction</string>
	<key>rowOperationRotation</key>
	<string>durationByInterpreter</string>
	<key>sophisticatedWidgetValidation</key>
	<string>globalTitleResponse</string>
</dict>
</plist>
