<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedSemanticsResponse</key>
	<string>cardStructureDensity</string>
	<key>nodeProcessDistance</key>
	<string>builderProxySpeed</string>
	<key>oldCacheOpacity</key>
	<string>drawerCompositeTail</string>
</dict>
</plist>
