<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>giftStrategyHead</key>
	<string>hardFutureScale</string>
	<key>managerOrStyle</key>
	<string>chapterTaskStyle</string>
	<key>memberBesideNumber</key>
	<string>chartUntilProxy</string>
	<key>sliderShapeTheme</key>
	<string>radiusDuringJob</string>
	<key>staticInkwellKind</key>
	<string>errorMediatorSpacing</string>
	<key>swiftAsBuffer</key>
	<string>boxAroundProxy</string>
	<key>tangentForStrategy</key>
	<string>substantialPositionBound</string>
</dict>
</plist>
