<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionBridgeDelay</key>
	<string>subtleCoordinatorSize</string>
	<key>anchorMediatorAcceleration</key>
	<string>specifierPhaseKind</string>
	<key>explicitContainerOpacity</key>
	<string>interactorBeyondComposite</string>
	<key>resultBesideStyle</key>
	<string>precisionVarVelocity</string>
	<key>robustProgressbarHead</key>
	<string>compositionContainTier</string>
</dict>
</plist>
