<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hyperbolicTransformerHead</key>
	<string>observerFormSkewy</string>
	<key>materialTweenContrast</key>
	<string>newestRowOrientation</string>
	<key>statefulGrainShape</key>
	<string>completerSinceBridge</string>
</dict>
</plist>
