<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedMasterForce</key>
	<string>activatedStepTag</string>
	<key>cupertinoInterpreterPressure</key>
	<string>remainderProxyPosition</string>
	<key>gradientPerAction</key>
	<string>flexibleStepTop</string>
	<key>gridVarVisible</key>
	<string>notifierPrototypeOpacity</string>
	<key>interfaceAboutAdapter</key>
	<string>cardMementoInset</string>
	<key>largeEntityDensity</key>
	<string>alignmentExceptFacade</string>
	<key>nibDespiteValue</key>
	<string>dedicatedManagerMomentum</string>
	<key>pageviewByVariable</key>
	<string>keyWorkflowMargin</string>
	<key>sortedViewCount</key>
	<string>aspectVersusParameter</string>
</dict>
</plist>
