<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeReductionKind</key>
	<string>axisMediatorOpacity</string>
	<key>binaryAwayChain</key>
	<string>stepSystemDuration</string>
	<key>blocEnvironmentIndex</key>
	<string>projectInComposite</string>
	<key>multiplicationStrategyHead</key>
	<string>responseIncludeLayer</string>
	<key>statefulResourceInset</key>
	<string>descriptionEnvironmentDistance</string>
</dict>
</plist>
