<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>parallelVectorDistance</key>
	<string>specifierVersusProxy</string>
	<key>sinkIncludeTask</key>
	<string>sortedClipperVisibility</string>
	<key>sliderLevelMargin</key>
	<string>priorityBridgeInset</string>
</dict>
</plist>
