<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveTernaryTail</key>
	<string>tickerSingletonScale</string>
	<key>grayscaleBridgeKind</key>
	<string>completerObserverLeft</string>
	<key>providerAmongWork</key>
	<string>tickerCommandHead</string>
</dict>
</plist>
