<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioAsLayer</key>
	<string>activitySystemDirection</string>
	<key>inactiveGradientSize</key>
	<string>queryExceptCommand</string>
	<key>projectionUntilTemple</key>
	<string>presenterMementoType</string>
	<key>reductionBesideOperation</key>
	<string>errorWorkCount</string>
	<key>statefulByActivity</key>
	<string>actionInJob</string>
</dict>
</plist>
