<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>extensionWorkState</key>
	<string>stepNearJob</string>
	<key>fusedRequestSize</key>
	<string>interpolationPlatformScale</string>
	<key>instructionProxySkewy</key>
	<string>flexibleExponentInterval</string>
	<key>iterativeGateLeft</key>
	<string>finalControllerOrigin</string>
	<key>observerOutsideState</key>
	<string>stateAsTier</string>
	<key>primaryChallengeLeft</key>
	<string>resolverBesideTask</string>
	<key>requestForLevel</key>
	<string>keyPopupTheme</string>
	<key>routerDespiteChain</key>
	<string>significantAxisCoord</string>
	<key>sequentialProviderBound</key>
	<string>pointFromActivity</string>
	<key>singleIconStyle</key>
	<string>robustExceptionOrientation</string>
</dict>
</plist>
