<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>denseTextureInterval</key>
	<string>prevScreenSkewy</string>
	<key>easyBaseRotation</key>
	<string>deferredPreviewKind</string>
	<key>functionalPositionedDistance</key>
	<string>documentThroughPhase</string>
	<key>offsetActivityDelay</key>
	<string>backwardDelegateFrequency</string>
	<key>particleOfChain</key>
	<string>explicitCurveSkewx</string>
	<key>singletonBufferBorder</key>
	<string>storageVarCount</string>
	<key>sortedSubscriptionBound</key>
	<string>buttonAsPlatform</string>
	<key>taskOrEnvironment</key>
	<string>nativeTabviewTransparency</string>
	<key>vectorPhaseInteraction</key>
	<string>sceneModeRight</string>
</dict>
</plist>
