<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxAlongCycle</key>
	<string>accessibleCommandDuration</string>
	<key>heroLevelCount</key>
	<string>prioritySinceAdapter</string>
	<key>taskKindRotation</key>
	<string>advancedPrecisionBound</string>
</dict>
</plist>
