<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintCompositeTheme</key>
	<string>durationAboutDecorator</string>
	<key>coordinatorAmongForm</key>
	<string>inactiveGroupTag</string>
	<key>cubitAwayParameter</key>
	<string>monsterPerMode</string>
	<key>globalInterfacePadding</key>
	<string>mediaShapeScale</string>
	<key>modelDuringWork</key>
	<string>resolverScopeVisible</string>
	<key>nativeStoreBottom</key>
	<string>synchronousCatalystKind</string>
	<key>newestHeroTop</key>
	<string>behaviorOperationVisible</string>
	<key>sliderUntilFramework</key>
	<string>resultPatternEdge</string>
	<key>tappableSpriteFrequency</key>
	<string>imperativeFeatureColor</string>
</dict>
</plist>
