<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryExceptState</key>
	<string>reducerBySystem</string>
	<key>beginnerCursorColor</key>
	<string>movementForCommand</string>
	<key>customGrainPosition</key>
	<string>mobileBehaviorDirection</string>
	<key>delegateContainWork</key>
	<string>metadataStrategyTop</string>
	<key>exceptionAwayParameter</key>
	<string>substantialProgressbarHue</string>
	<key>globalConvolutionDistance</key>
	<string>chartAroundVar</string>
	<key>largeViewBrightness</key>
	<string>subscriptionAtMode</string>
	<key>layerPhaseBorder</key>
	<string>euclideanBufferSkewy</string>
	<key>modulusModeDensity</key>
	<string>allocatorActionAcceleration</string>
	<key>tabviewOutsideEnvironment</key>
	<string>liteEventDepth</string>
</dict>
</plist>
