<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capsuleEnvironmentHead</key>
	<string>temporaryCubePadding</string>
	<key>flexBeyondMethod</key>
	<string>textKindFeedback</string>
	<key>layerStageTransparency</key>
	<string>inkwellProcessBorder</string>
	<key>layoutFromFramework</key>
	<string>multiSpinePressure</string>
	<key>loopPatternRate</key>
	<string>substantialChapterOrigin</string>
	<key>nextEntityBrightness</key>
	<string>basicEquipmentFlags</string>
	<key>operationWithLayer</key>
	<string>pivotalCurveResponse</string>
	<key>routerAroundParam</key>
	<string>gridVisitorBehavior</string>
	<key>sizedboxStateColor</key>
	<string>eventTaskSaturation</string>
	<key>utilUntilLayer</key>
	<string>lastMobxVisible</string>
</dict>
</plist>
