<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dropdownbuttonDuringPlatform</key>
	<string>stateOrOperation</string>
	<key>durationBufferDistance</key>
	<string>toolAsTemple</string>
	<key>localModulusLocation</key>
	<string>liteCubeTint</string>
	<key>previewAboutPhase</key>
	<string>reducerAdapterTop</string>
	<key>reducerFormIndex</key>
	<string>flexTypeStyle</string>
	<key>requiredGridviewForce</key>
	<string>activatedRequestForce</string>
	<key>singletonViaVariable</key>
	<string>titleProcessRotation</string>
	<key>streamStrategyVisible</key>
	<string>tweenThanEnvironment</string>
	<key>uniqueGridviewTag</key>
	<string>skinPrototypeVisibility</string>
	<key>usecaseShapeVelocity</key>
	<string>staticStoreTop</string>
</dict>
</plist>
