<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>queueModeAlignment</key>
	<string>equipmentThanTemple</string>
	<key>reducerLikeProcess</key>
	<string>scaffoldAndMethod</string>
	<key>textfieldLikeParameter</key>
	<string>criticalTechniqueBorder</string>
	<key>widgetOrJob</key>
	<string>popupStageDuration</string>
</dict>
</plist>
