<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedRoleBehavior</key>
	<string>permissiveCurveTheme</string>
	<key>interfaceStructureOrigin</key>
	<string>sizeFacadeOrientation</string>
	<key>intermediateCellSaturation</key>
	<string>standaloneBlocMomentum</string>
	<key>isolateSinceScope</key>
	<string>metadataOperationTint</string>
	<key>nodeForStrategy</key>
	<string>animationModePosition</string>
	<key>priorityBesideContext</key>
	<string>difficultParticleRotation</string>
	<key>sizeUntilBridge</key>
	<string>menuInsideInterpreter</string>
</dict>
</plist>
