<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelVarMargin</key>
	<string>delegateBesideWork</string>
	<key>collectionVersusProcess</key>
	<string>disabledAlertCount</string>
	<key>consultativeAccessoryEdge</key>
	<string>gateUntilObserver</string>
	<key>frameWithoutMediator</key>
	<string>gesturedetectorExceptPrototype</string>
	<key>lostGestureCoord</key>
	<string>respectiveCustompaintCount</string>
	<key>newestAnimationTheme</key>
	<string>certificateDecoratorFrequency</string>
	<key>uniformLossTag</key>
	<string>largeFlexDensity</string>
</dict>
</plist>
