<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderTaskOpacity</key>
	<string>injectionAboutDecorator</string>
	<key>equipmentDespiteCycle</key>
	<string>observerPerActivity</string>
	<key>offsetFrameworkMargin</key>
	<string>singletonStructureStatus</string>
	<key>otherAspectratioOrientation</key>
	<string>normalPositionedRight</string>
</dict>
</plist>
