<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncInsideCommand</key>
	<string>arithmeticRouteBehavior</string>
	<key>inactiveCurveRotation</key>
	<string>tweenKindDirection</string>
	<key>paddingThroughTier</key>
	<string>presenterVariableSpeed</string>
	<key>reducerStructureHue</key>
	<string>transformerOfBridge</string>
	<key>resourceOfTier</key>
	<string>interactorWithoutTier</string>
</dict>
</plist>
