<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>criticalCurveIndex</key>
	<string>routeIncludeCommand</string>
	<key>normSingletonStyle</key>
	<string>topicExceptBuffer</string>
	<key>notificationShapeOpacity</key>
	<string>providerPlatformBorder</string>
	<key>optionBeyondTask</key>
	<string>specifierPrototypeStyle</string>
	<key>permissiveTickerDensity</key>
	<string>constraintObserverContrast</string>
	<key>queueJobType</key>
	<string>prevProviderBorder</string>
	<key>retainedMissionPadding</key>
	<string>graphicChainSize</string>
	<key>storyboardContainLayer</key>
	<string>skirtInsideFlyweight</string>
</dict>
</plist>
