<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>collectionContainFlyweight</key>
	<string>liteResolverSaturation</string>
	<key>graphFrameworkName</key>
	<string>layoutForPlatform</string>
	<key>particleMethodOrigin</key>
	<string>prevGridviewSpeed</string>
	<key>reducerModeRate</key>
	<string>directDescriptorSpacing</string>
	<key>textureNearSingleton</key>
	<string>smallGraphRight</string>
	<key>threadStyleHead</key>
	<string>coordinatorAmongDecorator</string>
</dict>
</plist>
