<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncKindAppearance</key>
	<string>labelTaskSize</string>
	<key>equalizationEnvironmentDelay</key>
	<string>utilIncludeValue</string>
	<key>priorityValueFlags</key>
	<string>coordinatorAgainstParameter</string>
</dict>
</plist>
