<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveStreamVisible</key>
	<string>statefulSubscriptionCount</string>
	<key>agileTimerAlignment</key>
	<string>gramNumberMomentum</string>
	<key>checklistLevelStatus</key>
	<string>ephemeralMaterialRate</string>
	<key>interpolationByScope</key>
	<string>graphLayerBehavior</string>
	<key>reducerPerStyle</key>
	<string>textureExceptVisitor</string>
	<key>subsequentRichtextResponse</key>
	<string>accessibleSizedboxRate</string>
	<key>tabviewByEnvironment</key>
	<string>compositionalGrainBound</string>
	<key>uniqueWorkflowOrigin</key>
	<string>graphicInterpreterMargin</string>
</dict>
</plist>
