<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fusedPrecisionFrequency</key>
	<string>largePositionedLocation</string>
	<key>getxProxyRate</key>
	<string>entityTempleRight</string>
	<key>indicatorVisitorKind</key>
	<string>nextCollectionTheme</string>
	<key>layoutTypeShape</key>
	<string>stampParamDistance</string>
	<key>musicCompositeAppearance</key>
	<string>signatureExceptSingleton</string>
	<key>playbackScopeAppearance</key>
	<string>listenerDuringCycle</string>
	<key>sensorVariableSaturation</key>
	<string>euclideanBufferStyle</string>
	<key>storyboardPlatformLocation</key>
	<string>memberStrategyFlags</string>
</dict>
</plist>
