<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderForMethod</key>
	<string>interfaceFacadeBorder</string>
	<key>eagerTabbarVisible</key>
	<string>remainderSinceComposite</string>
	<key>gridVisitorStatus</key>
	<string>curveForFunction</string>
	<key>navigatorTierOpacity</key>
	<string>modulusJobHead</string>
	<key>spriteOperationCenter</key>
	<string>layoutParamLeft</string>
	<key>subpixelAmongParam</key>
	<string>eagerDelegateVisible</string>
	<key>textStrategyBrightness</key>
	<string>graphOperationDuration</string>
</dict>
</plist>
