<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonAroundScope</key>
	<string>frameInterpreterSpeed</string>
	<key>momentumShapeTension</key>
	<string>contractionDuringWork</string>
	<key>overlayActivityOpacity</key>
	<string>indicatorOfLevel</string>
	<key>seamlessVariantStyle</key>
	<string>disparateChapterAppearance</string>
	<key>sustainableSinkResponse</key>
	<string>positionPrototypeSkewy</string>
	<key>webGateSize</key>
	<string>reusableRoleAppearance</string>
</dict>
</plist>
