<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorMementoMargin</key>
	<string>respectiveSkirtShape</string>
	<key>animatedcontainerAtForm</key>
	<string>roleContainFlyweight</string>
	<key>mediaqueryTempleHue</key>
	<string>inactiveAlignmentName</string>
	<key>persistentIntensityInset</key>
	<string>usedRowSpeed</string>
	<key>storeStatePosition</key>
	<string>actionWorkTension</string>
</dict>
</plist>
