<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonOfFunction</key>
	<string>inheritedQueryVisible</string>
	<key>eventFacadeTransparency</key>
	<string>viewKindStyle</string>
	<key>grainFormRight</key>
	<string>usedExpandedSpacing</string>
	<key>histogramWorkTop</key>
	<string>loopFromFunction</string>
	<key>spriteStageRate</key>
	<string>routeBeyondNumber</string>
</dict>
</plist>
