<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>intensityDespiteAction</key>
	<string>certificateStrategyRotation</string>
	<key>largeMatrixRotation</key>
	<string>marginOutsidePlatform</string>
	<key>materialAlongType</key>
	<string>scrollOperationFormat</string>
	<key>multiTangentLocation</key>
	<string>temporarySliderShade</string>
	<key>newestExtensionLeft</key>
	<string>widgetFromMemento</string>
	<key>temporaryIndicatorInset</key>
	<string>mediaDespiteStyle</string>
</dict>
</plist>
