<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoChartRate</key>
	<string>semanticAnimationLeft</string>
	<key>concreteBuilderMargin</key>
	<string>respectiveRichtextHue</string>
	<key>painterScopeShade</key>
	<string>resizableCubitStyle</string>
	<key>threadThanEnvironment</key>
	<string>cubitInterpreterOrigin</string>
	<key>utilObserverVelocity</key>
	<string>gridviewObserverVisibility</string>
</dict>
</plist>
