<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxAgainstVariable</key>
	<string>interactorContainFramework</string>
	<key>clipperViaJob</key>
	<string>sophisticatedMobxTransparency</string>
	<key>custompaintPrototypeBound</key>
	<string>sophisticatedCompleterSpacing</string>
	<key>methodAsPattern</key>
	<string>cubeVersusCycle</string>
	<key>shaderVersusMemento</key>
	<string>rapidChartTail</string>
	<key>textViaLevel</key>
	<string>resultWithVisitor</string>
	<key>textureParamStatus</key>
	<string>painterThroughInterpreter</string>
</dict>
</plist>
