<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dialogsWorkResponse</key>
	<string>smartResolverFlags</string>
	<key>displayableAlignmentAlignment</key>
	<string>discardedSizeType</string>
	<key>durationFunctionMargin</key>
	<string>modulusStructureStyle</string>
	<key>publicIntegerDuration</key>
	<string>denseTextOpacity</string>
	<key>statelessCubitBottom</key>
	<string>firstSineBound</string>
</dict>
</plist>
