<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>drawerForOperation</key>
	<string>singleCoordinatorShade</string>
	<key>flexOperationEdge</key>
	<string>vectorContextColor</string>
	<key>localizationFormAlignment</key>
	<string>constraintTierSkewx</string>
	<key>taskSystemFrequency</key>
	<string>serviceModeColor</string>
</dict>
</plist>
