<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>characterScopeBorder</key>
	<string>cupertinoCubitBehavior</string>
	<key>interactorFlyweightVelocity</key>
	<string>capacitiesThanFramework</string>
	<key>normAmongMode</key>
	<string>independentCupertinoHead</string>
	<key>shaderVarAlignment</key>
	<string>storeStateScale</string>
	<key>skinAtForm</key>
	<string>completerPhaseVisible</string>
</dict>
</plist>
