<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticProfilePadding</key>
	<string>protectedModelVisible</string>
	<key>blocViaComposite</key>
	<string>frameThroughOperation</string>
	<key>diffableChapterTop</key>
	<string>batchFlyweightDuration</string>
	<key>futureAtState</key>
	<string>grainProxyShade</string>
	<key>futureBeyondStyle</key>
	<string>localizationUntilProxy</string>
	<key>mainUsecaseTheme</key>
	<string>overlayPatternVisibility</string>
	<key>plateExceptState</key>
	<string>managerProcessTail</string>
	<key>providerBufferFeedback</key>
	<string>multiPrecisionTag</string>
	<key>toolEnvironmentTail</key>
	<string>apertureThanTask</string>
	<key>uniformInterfaceBrightness</key>
	<string>secondSubpixelTail</string>
</dict>
</plist>
