<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferDecoratorTransparency</key>
	<string>boxTypeAcceleration</string>
	<key>diversifiedControllerIndex</key>
	<string>boxshadowContextFlags</string>
	<key>euclideanGramShade</key>
	<string>serviceAsLevel</string>
	<key>greatProtocolRight</key>
	<string>difficultThreadIndex</string>
	<key>intensityMethodAcceleration</key>
	<string>requestAroundStyle</string>
	<key>prevQueueAlignment</key>
	<string>lazyFactoryDirection</string>
	<key>sophisticatedBuilderIndex</key>
	<string>rapidNodeKind</string>
	<key>sophisticatedSizedboxSpacing</key>
	<string>normalNormDuration</string>
	<key>widgetAmongMemento</key>
	<string>buttonFacadeVisible</string>
</dict>
</plist>
