<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalContainerDirection</key>
	<string>enabledContainerStatus</string>
	<key>configurationInObserver</key>
	<string>previewStyleOrientation</string>
	<key>dependencyNumberPressure</key>
	<string>rowAroundTask</string>
	<key>exceptionThanShape</key>
	<string>textfieldFacadeType</string>
	<key>workflowActivityOffset</key>
	<string>completionVariableMode</string>
</dict>
</plist>
