<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushWorkFlags</key>
	<string>transformerTaskInterval</string>
	<key>containerContainContext</key>
	<string>singleEntityLocation</string>
	<key>enabledCacheMode</key>
	<string>diversifiedCompleterBehavior</string>
	<key>featureOutsideInterpreter</key>
	<string>adaptiveMonsterSkewy</string>
	<key>numericalSensorHead</key>
	<string>persistentActivityTransparency</string>
	<key>painterPerMode</key>
	<string>decorationThroughAdapter</string>
	<key>queryInTier</key>
	<string>layerAgainstStyle</string>
	<key>secondBufferAppearance</key>
	<string>alignmentTierDepth</string>
	<key>skirtCycleInset</key>
	<string>tangentOperationShape</string>
</dict>
</plist>
