<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>equipmentVarSpacing</key>
	<string>viewActionSkewx</string>
	<key>iterativePointMode</key>
	<string>subsequentHistogramBottom</string>
	<key>nodeStyleVisible</key>
	<string>gridBeyondCycle</string>
	<key>pinchableThemeValidation</key>
	<string>sceneDespiteWork</string>
	<key>popupBesideValue</key>
	<string>activatedPaddingTail</string>
	<key>utilSystemMargin</key>
	<string>lossByCommand</string>
</dict>
</plist>
