<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderNearPrototype</key>
	<string>parallelCubitMargin</string>
	<key>navigationNumberBehavior</key>
	<string>exceptionThanStage</string>
	<key>statelessZoneOffset</key>
	<string>mediaVariablePosition</string>
	<key>uniformConstraintMargin</key>
	<string>usecaseNearDecorator</string>
	<key>viewDespiteSingleton</key>
	<string>interfaceLevelSpeed</string>
</dict>
</plist>
