<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>custompaintActionCoord</key>
	<string>containerPatternDepth</string>
	<key>labelBufferAcceleration</key>
	<string>chartAdapterName</string>
	<key>mapProcessType</key>
	<string>channelCycleStatus</string>
	<key>otherNotifierEdge</key>
	<string>fixedCallbackEdge</string>
	<key>routeAndContext</key>
	<string>concreteResponseMode</string>
	<key>sessionIncludeContext</key>
	<string>radioBeyondActivity</string>
	<key>subpixelVariableEdge</key>
	<string>reactiveRectSize</string>
	<key>viewFormScale</key>
	<string>skinStageInterval</string>
</dict>
</plist>
