<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constStreamInterval</key>
	<string>skirtParameterTail</string>
	<key>crudeTextFormat</key>
	<string>secondStepCoord</string>
	<key>crudeTopicOpacity</key>
	<string>taskUntilPrototype</string>
	<key>dedicatedScaleDirection</key>
	<string>directlyCubitPressure</string>
	<key>nodeAroundLayer</key>
	<string>routeBufferState</string>
	<key>popupAtOperation</key>
	<string>movementOperationTop</string>
	<key>requiredColumnContrast</key>
	<string>priorCoordinatorTop</string>
	<key>sceneFunctionLeft</key>
	<string>cycleDuringStage</string>
	<key>statefulStoreRate</key>
	<string>deferredObserverShade</string>
</dict>
</plist>
