<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>durationStructureOffset</key>
	<string>chartBufferShape</string>
	<key>grainForDecorator</key>
	<string>statefulTransitionTop</string>
	<key>lazySinkTension</key>
	<string>lostBinaryFrequency</string>
	<key>mediaUntilStructure</key>
	<string>radiusAtState</string>
	<key>multiSwiftMomentum</key>
	<string>bitrateWithoutCommand</string>
	<key>priorAppbarOrientation</key>
	<string>storeOfTemple</string>
	<key>streamInsideParameter</key>
	<string>curveBesideProxy</string>
	<key>subpixelOrMethod</key>
	<string>promiseObserverEdge</string>
	<key>uniformSpotType</key>
	<string>cubitFormDuration</string>
</dict>
</plist>
