<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocNumberHead</key>
	<string>captionOperationVisibility</string>
	<key>curveDecoratorSpeed</key>
	<string>chartSingletonDistance</string>
	<key>dialogsStageVisible</key>
	<string>exponentBufferTension</string>
	<key>gramPlatformDirection</key>
	<string>taskCycleRight</string>
	<key>smallCallbackFrequency</key>
	<string>resultAwayType</string>
</dict>
</plist>
