<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cardForLayer</key>
	<string>globalQueryVelocity</string>
	<key>controllerAndValue</key>
	<string>firstSpineTheme</string>
	<key>handlerAsStage</key>
	<string>mediaqueryShapeTransparency</string>
	<key>priorPainterTag</key>
	<string>segmentOrType</string>
	<key>radioWithoutLayer</key>
	<string>mobileInterfaceBottom</string>
	<key>respectiveSubpixelContrast</key>
	<string>chartPhaseSpacing</string>
	<key>robustTweenValidation</key>
	<string>protectedMultiplicationColor</string>
</dict>
</plist>
