<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarThroughMethod</key>
	<string>transitionPlatformValidation</string>
	<key>autoRequestOrientation</key>
	<string>reductionActivityVelocity</string>
	<key>signatureFormHead</key>
	<string>batchPerContext</string>
	<key>stepOperationScale</key>
	<string>signaturePatternResponse</string>
</dict>
</plist>
