<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>easyIconType</key>
	<string>cupertinoEffectFrequency</string>
	<key>graphAtFacade</key>
	<string>providerVarRotation</string>
	<key>multiplicationBufferVisibility</key>
	<string>sinkParameterHead</string>
	<key>previewAndFramework</key>
	<string>spineAlongOperation</string>
	<key>requiredCompletionMargin</key>
	<string>widgetAlongLayer</string>
	<key>stampWorkBottom</key>
	<string>normalWidgetPosition</string>
	<key>tappableGraphicFlags</key>
	<string>rowFrameworkIndex</string>
	<key>vectorKindBorder</key>
	<string>iconDuringDecorator</string>
</dict>
</plist>
