<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cacheInsideMethod</key>
	<string>permissiveListenerBrightness</string>
	<key>capacitiesKindSkewx</key>
	<string>columnPlatformCoord</string>
	<key>getxBeyondPrototype</key>
	<string>gridAlongFramework</string>
	<key>labelProxyName</key>
	<string>gramLayerState</string>
</dict>
</plist>
