<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>immutableCacheDirection</key>
	<string>backwardClipperDensity</string>
	<key>resourceLayerTheme</key>
	<string>interfaceNumberFrequency</string>
	<key>routeStyleBound</key>
	<string>modalOutsideNumber</string>
	<key>storageLayerSkewx</key>
	<string>uniformManagerLeft</string>
	<key>streamAboutTask</key>
	<string>techniqueThanPrototype</string>
	<key>temporaryDescriptionRight</key>
	<string>decorationStructureVisibility</string>
</dict>
</plist>
