<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteZoneShape</key>
	<string>labelStateHead</string>
	<key>containerFromBuffer</key>
	<string>metadataVisitorMomentum</string>
	<key>greatProgressbarStatus</key>
	<string>unsortedBorderAcceleration</string>
	<key>hashAwayMemento</key>
	<string>criticalBatchType</string>
	<key>observerStateTheme</key>
	<string>managerAmongVisitor</string>
	<key>rowTierBorder</key>
	<string>priorRequestPadding</string>
	<key>spotBufferRotation</key>
	<string>constSymbolBehavior</string>
	<key>statefulByPrototype</key>
	<string>navigatorLevelTint</string>
	<key>vectorInState</key>
	<string>sharedPageviewScale</string>
</dict>
</plist>
