<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>discardedDrawerState</key>
	<string>memberAsFlyweight</string>
	<key>gridStageRight</key>
	<string>injectionAsFramework</string>
	<key>loopPerAction</key>
	<string>queryLayerOpacity</string>
</dict>
</plist>
