<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>interactiveStatefulTint</key>
	<string>concreteBoxMargin</string>
	<key>interactorOperationCount</key>
	<string>uniqueCosineSpeed</string>
	<key>particleWithBuffer</key>
	<string>exceptionAboutBridge</string>
	<key>requiredTextureDistance</key>
	<string>sortedContainerCount</string>
	<key>resourceUntilTier</key>
	<string>allocatorVarBound</string>
</dict>
</plist>
