<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterByStrategy</key>
	<string>alignmentIncludeFacade</string>
	<key>collectionFormLeft</key>
	<string>errorAndAdapter</string>
	<key>gramViaVariable</key>
	<string>resolverVersusNumber</string>
	<key>hashFormBorder</key>
	<string>invisibleChartValidation</string>
	<key>independentActivityDelay</key>
	<string>giftInPlatform</string>
	<key>positionedAgainstFramework</key>
	<string>taskOutsideContext</string>
	<key>promiseUntilTier</key>
	<string>sophisticatedRowTransparency</string>
	<key>segueAgainstProxy</key>
	<string>imperativeCheckboxLocation</string>
	<key>tickerProcessInset</key>
	<string>delegateAboutVar</string>
</dict>
</plist>
