<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalCosineOpacity</key>
	<string>tangentUntilProcess</string>
	<key>durationUntilCommand</key>
	<string>allocatorNumberAlignment</string>
	<key>localizationShapeOpacity</key>
	<string>localNavigatorState</string>
	<key>permissiveLabelEdge</key>
	<string>easyHashKind</string>
</dict>
</plist>
