<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentSystemOpacity</key>
	<string>mediaMediatorFormat</string>
	<key>blocViaActivity</key>
	<string>cartesianSingletonTheme</string>
	<key>constraintMementoValidation</key>
	<string>inheritedSubpixelBorder</string>
	<key>firstReferenceSkewx</key>
	<string>rectThanChain</string>
	<key>permanentConstraintOffset</key>
	<string>pinchableStepBottom</string>
	<key>publicTextureFlags</key>
	<string>promiseBufferPadding</string>
	<key>subpixelTaskStyle</key>
	<string>factoryInsideKind</string>
</dict>
</plist>
