<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batchScopeType</key>
	<string>deferredContainerDepth</string>
	<key>capsuleTempleSkewy</key>
	<string>desktopThemeFeedback</string>
	<key>displayableConsumerType</key>
	<string>independentMomentumDelay</string>
	<key>masterStateAcceleration</key>
	<string>futureBridgeVisibility</string>
	<key>seamlessResourceMargin</key>
	<string>commandContainInterpreter</string>
	<key>subsequentTouchMomentum</key>
	<string>mediocreNavigationTension</string>
</dict>
</plist>
