<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionViaWork</key>
	<string>taskInterpreterState</string>
	<key>errorInterpreterBorder</key>
	<string>imageMementoSkewx</string>
	<key>futureNumberIndex</key>
	<string>errorWithVar</string>
	<key>integerSinceContext</key>
	<string>animationTypeOrientation</string>
	<key>painterPerForm</key>
	<string>pivotalLogMargin</string>
	<key>resizableUsageLeft</key>
	<string>vectorContainEnvironment</string>
	<key>taskAlongMethod</key>
	<string>textStatePadding</string>
</dict>
</plist>
