<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cacheFromStyle</key>
	<string>gestureTempleTag</string>
	<key>cubitStructurePosition</key>
	<string>ternaryShapeRight</string>
	<key>disabledArithmeticSaturation</key>
	<string>usageNumberSize</string>
	<key>labelSinceChain</key>
	<string>radiusActivityTint</string>
	<key>lostContainerStyle</key>
	<string>referenceParameterBorder</string>
	<key>plateDuringPlatform</key>
	<string>navigationPerSystem</string>
	<key>rectAroundCommand</key>
	<string>oldDescriptionFlags</string>
	<key>riverpodShapeName</key>
	<string>allocatorViaSingleton</string>
	<key>signatureThroughMethod</key>
	<string>overlayUntilAction</string>
	<key>tabviewWithoutValue</key>
	<string>skirtOutsideChain</string>
</dict>
</plist>
