<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batchAboutProxy</key>
	<string>synchronousLayoutStatus</string>
	<key>blocCommandCount</key>
	<string>asyncSceneSkewx</string>
	<key>chapterAtMediator</key>
	<string>tabviewAdapterFlags</string>
	<key>gestureBeyondContext</key>
	<string>statefulMediaqueryBehavior</string>
	<key>groupTierInset</key>
	<string>segmentVarState</string>
	<key>liteDescriptorIndex</key>
	<string>certificateLevelCoord</string>
	<key>loopActionFeedback</key>
	<string>compositionalTimerRight</string>
	<key>observerThanPlatform</key>
	<string>riverpodAlongStage</string>
	<key>paddingViaVisitor</key>
	<string>intermediateProgressbarPosition</string>
	<key>providerVariableRate</key>
	<string>previewFormOpacity</string>
</dict>
</plist>
