<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectCompositeAlignment</key>
	<string>apertureFrameworkDepth</string>
	<key>buttonThroughParameter</key>
	<string>directSliderBottom</string>
	<key>cupertinoTransformerType</key>
	<string>constLogPadding</string>
	<key>marginModeSize</key>
	<string>crucialFactoryForce</string>
	<key>mediocreGrayscaleBrightness</key>
	<string>operationMementoLocation</string>
	<key>responsivePositionedType</key>
	<string>accessoryBridgeType</string>
	<key>vectorInterpreterLocation</key>
	<string>groupSystemMode</string>
</dict>
</plist>
