<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directRepositoryVisible</key>
	<string>opaqueCompletionScale</string>
	<key>geometricAsyncType</key>
	<string>bulletAlongAction</string>
	<key>mobxAmongLevel</key>
	<string>popupAndType</string>
	<key>precisionOfAdapter</key>
	<string>discardedScaleHead</string>
	<key>sizedboxSystemPressure</key>
	<string>callbackVarPadding</string>
</dict>
</plist>
