<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderScopeStyle</key>
	<string>largeMovementBrightness</string>
	<key>greatCommandFormat</key>
	<string>curveVariableDelay</string>
	<key>masterKindLeft</key>
	<string>intermediateCoordinatorAppearance</string>
	<key>modelActionShape</key>
	<string>comprehensiveAnimationForce</string>
	<key>particleShapeOpacity</key>
	<string>reusableAnimatedcontainerTop</string>
	<key>rapidManagerStyle</key>
	<string>criticalCubitVisibility</string>
	<key>routeTypePosition</key>
	<string>storageFrameworkFeedback</string>
	<key>sensorVarRate</key>
	<string>descriptorFunctionCount</string>
	<key>smallViewMargin</key>
	<string>usageDuringStyle</string>
	<key>sortedPositionedIndex</key>
	<string>gridviewVarInterval</string>
</dict>
</plist>
