<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionDependencyContrast</key>
	<string>checklistOrOperation</string>
	<key>behaviorContainFacade</key>
	<string>reducerStylePadding</string>
	<key>criticalTickerTop</key>
	<string>variantThanBuffer</string>
	<key>durationBufferAppearance</key>
	<string>statefulLoopColor</string>
	<key>invisibleFutureSpacing</key>
	<string>referenceWorkColor</string>
	<key>presenterStateHead</key>
	<string>missionThanActivity</string>
	<key>priorityByObserver</key>
	<string>entropyAsProcess</string>
	<key>priorityByVisitor</key>
	<string>actionVariableMargin</string>
	<key>rapidLayoutColor</key>
	<string>asyncParamTension</string>
</dict>
</plist>
