<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crudeCursorInset</key>
	<string>symmetricModelTransparency</string>
	<key>eventSinceState</key>
	<string>navigatorAndMemento</string>
	<key>gradientEnvironmentAcceleration</key>
	<string>imperativeStreamAcceleration</string>
	<key>inactiveUnaryScale</key>
	<string>cubitViaKind</string>
	<key>localCubitStatus</key>
	<string>challengeIncludeParam</string>
	<key>positionTypeFeedback</key>
	<string>timerForMediator</string>
	<key>reactiveBorderRight</key>
	<string>projectionDespiteBuffer</string>
	<key>topicWorkMargin</key>
	<string>cubitBeyondAction</string>
</dict>
</plist>
