<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>collectionAboutKind</key>
	<string>petValuePadding</string>
	<key>declarativeSegueDensity</key>
	<string>statefulPatternTension</string>
	<key>featureInterpreterTension</key>
	<string>intensityViaComposite</string>
	<key>profileAwayVisitor</key>
	<string>previewWithFacade</string>
</dict>
</plist>
