<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contractionAroundParameter</key>
	<string>isolateDespiteState</string>
	<key>dedicatedConstraintCount</key>
	<string>denseSubscriptionShade</string>
	<key>giftTaskVisible</key>
	<string>invisibleLossMargin</string>
	<key>inheritedKernelState</key>
	<string>blocActivitySize</string>
	<key>injectionBesideJob</key>
	<string>challengeBufferVisible</string>
	<key>storyboardAtContext</key>
	<string>constHashAppearance</string>
</dict>
</plist>
