<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationContextFlags</key>
	<string>unaryAwayForm</string>
	<key>dedicatedModalFlags</key>
	<string>effectThroughOperation</string>
	<key>entityTierAcceleration</key>
	<string>hierarchicalAnimationAlignment</string>
	<key>inheritedTextfieldDensity</key>
	<string>configurationVarOrientation</string>
	<key>materialNumberKind</key>
	<string>protectedBehaviorCount</string>
	<key>previewAsPattern</key>
	<string>nextParticleValidation</string>
	<key>queueTypeSpeed</key>
	<string>diffableLayoutType</string>
	<key>riverpodExceptStage</key>
	<string>contractionThanParam</string>
	<key>transitionNumberInterval</key>
	<string>ternaryUntilCommand</string>
</dict>
</plist>
