<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitScopeColor</key>
	<string>plateLikeMediator</string>
	<key>heapScopeRotation</key>
	<string>multiErrorName</string>
	<key>imageThanEnvironment</key>
	<string>vectorMethodSize</string>
	<key>inheritedFactoryPadding</key>
	<string>priorCommandBottom</string>
	<key>kernelByLevel</key>
	<string>asyncTimerHue</string>
	<key>methodFlyweightAppearance</key>
	<string>localBatchHue</string>
	<key>singletonNumberScale</key>
	<string>techniqueFunctionStyle</string>
	<key>sortedUsageHead</key>
	<string>stackValueOrigin</string>
</dict>
</plist>
