<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationValueVelocity</key>
	<string>imageActivityFormat</string>
	<key>descriptionLikeMediator</key>
	<string>autoHeapScale</string>
	<key>explicitNibDepth</key>
	<string>interactiveStepDelay</string>
	<key>inactiveGroupSaturation</key>
	<string>marginPhaseFrequency</string>
	<key>previewViaPattern</key>
	<string>inactiveQueryResponse</string>
	<key>robustMatrixPadding</key>
	<string>interactorAtBridge</string>
	<key>tableBufferRotation</key>
	<string>immediateFrameHue</string>
</dict>
</plist>
