<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorKindInset</key>
	<string>eventChainVelocity</string>
	<key>functionalSineTension</key>
	<string>builderUntilPattern</string>
	<key>otherGrainOrigin</key>
	<string>criticalRectPosition</string>
	<key>respectiveButtonCount</key>
	<string>significantSwitchVisibility</string>
	<key>storeObserverTop</key>
	<string>tangentTempleDepth</string>
</dict>
</plist>
