<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentActionVisibility</key>
	<string>entitySingletonInset</string>
	<key>characterWithoutMode</key>
	<string>modulusScopeValidation</string>
	<key>drawerVisitorAppearance</key>
	<string>workflowAlongTemple</string>
	<key>handlerFacadeAcceleration</key>
	<string>eventPatternDistance</string>
	<key>marginWithFunction</key>
	<string>topicSystemRate</string>
	<key>reductionAndTask</key>
	<string>factoryAwayState</string>
	<key>streamTypeValidation</key>
	<string>completerFromVisitor</string>
	<key>transformerAgainstState</key>
	<string>viewAmongVisitor</string>
</dict>
</plist>
