<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delicateSpecifierFeedback</key>
	<string>channelOfForm</string>
	<key>factoryContextPressure</key>
	<string>publicCurveVisible</string>
	<key>largeCurveDistance</key>
	<string>composableZoneTag</string>
	<key>mediumBitrateShade</key>
	<string>equipmentLikeKind</string>
	<key>resizableStackAlignment</key>
	<string>mediaOrInterpreter</string>
	<key>stackDuringCycle</key>
	<string>cardTempleLocation</string>
	<key>viewFacadeDensity</key>
	<string>gesturedetectorTempleSkewx</string>
</dict>
</plist>
