<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseVisitorShape</key>
	<string>draggableCurveVisibility</string>
	<key>chapterInSingleton</key>
	<string>marginAtLayer</string>
	<key>checkboxNearAction</key>
	<string>gesturedetectorAsKind</string>
	<key>euclideanVariantRate</key>
	<string>swiftLayerInterval</string>
	<key>nativePaddingState</key>
	<string>hierarchicalLabelSpacing</string>
	<key>optimizerTempleInteraction</key>
	<string>disabledDurationDepth</string>
	<key>protectedFrameCount</key>
	<string>frameDuringBridge</string>
	<key>rapidSliderTension</key>
	<string>mainCapacitiesValidation</string>
	<key>resilientNormDuration</key>
	<string>reusableContainerIndex</string>
	<key>transformerWithoutActivity</key>
	<string>histogramValueTension</string>
</dict>
</plist>
