<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationForShape</key>
	<string>capsuleTempleInterval</string>
	<key>chapterIncludeBridge</key>
	<string>easyPriorityIndex</string>
	<key>consumerInsideNumber</key>
	<string>immediateStampFeedback</string>
	<key>labelExceptSystem</key>
	<string>publicMediaqueryLeft</string>
	<key>materialFrameworkAcceleration</key>
	<string>resizableSignatureMode</string>
</dict>
</plist>
