<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryActionRight</key>
	<string>smartBulletDelay</string>
	<key>capsuleStyleBound</key>
	<string>viewFunctionOpacity</string>
	<key>discardedExtensionState</key>
	<string>arithmeticReducerScale</string>
	<key>globalInkwellTag</key>
	<string>labelMediatorFrequency</string>
	<key>observerBridgeDensity</key>
	<string>intuitiveRectFeedback</string>
	<key>shaderForComposite</key>
	<string>nodeAboutTask</string>
	<key>titleOutsideState</key>
	<string>intermediateThemeBottom</string>
</dict>
</plist>
