<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocAroundKind</key>
	<string>commandVersusShape</string>
	<key>buttonVarName</key>
	<string>lostRadiusScale</string>
	<key>completerWithBridge</key>
	<string>cardDuringVariable</string>
	<key>handlerStructureTension</key>
	<string>skinModeIndex</string>
	<key>notifierParamFlags</key>
	<string>materialEntityFlags</string>
	<key>radioKindContrast</key>
	<string>buttonAsInterpreter</string>
	<key>referenceInsideWork</key>
	<string>observerTaskOpacity</string>
	<key>scaleTypeCenter</key>
	<string>profileWithoutTask</string>
	<key>smallButtonBrightness</key>
	<string>parallelManagerMode</string>
	<key>unaryLikePhase</key>
	<string>singleTabviewDelay</string>
</dict>
</plist>
