<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedHashInteraction</key>
	<string>catalystOutsideCommand</string>
	<key>crudeBinaryEdge</key>
	<string>blocLikeAction</string>
	<key>pinchableBlocVisible</key>
	<string>discardedPriorityCenter</string>
	<key>presenterEnvironmentKind</key>
	<string>storyboardByAction</string>
	<key>projectJobShade</key>
	<string>statefulParameterHue</string>
	<key>rectVisitorMargin</key>
	<string>specifyTaskType</string>
	<key>sceneTaskTension</key>
	<string>threadOrProxy</string>
	<key>sustainableTextureBehavior</key>
	<string>sliderNearVisitor</string>
	<key>viewOutsideMemento</key>
	<string>granularHashVisibility</string>
</dict>
</plist>
