<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleRichtextState</key>
	<string>singletonOrChain</string>
	<key>activatedSignBound</key>
	<string>usageContainParameter</string>
	<key>dialogsDuringFacade</key>
	<string>interfaceBufferKind</string>
	<key>notificationInsideComposite</key>
	<string>previewExceptStructure</string>
	<key>otherLocalizationAcceleration</key>
	<string>sensorAlongShape</string>
	<key>positionOutsideFramework</key>
	<string>sophisticatedIntensityHead</string>
	<key>prismaticChartRight</key>
	<string>batchObserverBound</string>
	<key>symbolSinceMethod</key>
	<string>ignoredAnchorDirection</string>
</dict>
</plist>
