<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionParameterIndex</key>
	<string>capsuleOutsideType</string>
	<key>alphaInMethod</key>
	<string>animationMethodLocation</string>
	<key>backwardQueueInset</key>
	<string>modelDespitePlatform</string>
	<key>borderTypeDelay</key>
	<string>previewVisitorStatus</string>
	<key>localizationUntilTemple</key>
	<string>diversifiedProviderSaturation</string>
	<key>storeJobLocation</key>
	<string>heroShapeSkewx</string>
</dict>
</plist>
