<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetMediatorLocation</key>
	<string>variantForMemento</string>
	<key>canvasAmongCommand</key>
	<string>pointOutsideMemento</string>
	<key>captionFrameworkBorder</key>
	<string>inheritedViewDuration</string>
	<key>captionWorkInset</key>
	<string>consumerDespiteTier</string>
	<key>disparateTransformerVisibility</key>
	<string>chartCycleScale</string>
	<key>imageModeRotation</key>
	<string>interfaceContextRotation</string>
	<key>mapWorkForce</key>
	<string>oldGesturedetectorOrigin</string>
	<key>numericalZoneMomentum</key>
	<string>channelTempleFormat</string>
	<key>offsetDuringJob</key>
	<string>cacheBufferCenter</string>
	<key>resultPrototypeDepth</key>
	<string>previewNumberAcceleration</string>
</dict>
</plist>
