<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedTabbarFormat</key>
	<string>primaryGradientHue</string>
	<key>backwardLabelInterval</key>
	<string>signAroundAdapter</string>
	<key>dependencyInsideKind</key>
	<string>advancedSegueType</string>
</dict>
</plist>
