<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerFlyweightShape</key>
	<string>significantEventFlags</string>
	<key>aspectInterpreterBound</key>
	<string>concreteHeapBorder</string>
	<key>effectSinceStrategy</key>
	<string>asyncGroupShade</string>
	<key>routeJobBound</key>
	<string>petThanMode</string>
	<key>skirtSinceChain</key>
	<string>managerKindMargin</string>
	<key>spriteAtAdapter</key>
	<string>grainTempleDirection</string>
	<key>techniqueAboutMethod</key>
	<string>invisibleTransformerSize</string>
	<key>temporaryLocalizationTheme</key>
	<string>mediocreParticleMomentum</string>
	<key>typicalBehaviorDirection</key>
	<string>deferredClipperTop</string>
</dict>
</plist>
