<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionImageLeft</key>
	<string>sequentialPrecisionForce</string>
	<key>activeBuilderInset</key>
	<string>diversifiedCacheScale</string>
	<key>appbarCommandTransparency</key>
	<string>ignoredTransitionVelocity</string>
	<key>crudeMasterBottom</key>
	<string>navigatorVisitorAlignment</string>
	<key>delegateAroundStructure</key>
	<string>errorWithActivity</string>
	<key>equalizationOutsideInterpreter</key>
	<string>routerViaMemento</string>
	<key>menuNearForm</key>
	<string>futureTaskHead</string>
	<key>observerDecoratorFormat</key>
	<string>heapAroundObserver</string>
	<key>sliderTierRotation</key>
	<string>tableStateMode</string>
	<key>zoneOutsideValue</key>
	<string>titleLikePlatform</string>
</dict>
</plist>
