<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>descriptorParamTint</key>
	<string>beginnerNodeSkewx</string>
	<key>getxAgainstTask</key>
	<string>descriptionLayerTint</string>
	<key>retainedCheckboxTransparency</key>
	<string>rapidMarginSkewy</string>
	<key>semanticsDuringScope</key>
	<string>timerLayerAcceleration</string>
	<key>unsortedDialogsAlignment</key>
	<string>catalystCommandStatus</string>
</dict>
</plist>
