<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>durationParameterName</key>
	<string>delegateAsCommand</string>
	<key>streamTaskFrequency</key>
	<string>tweenDuringTemple</string>
	<key>topicAdapterSpeed</key>
	<string>positionPrototypeSaturation</string>
</dict>
</plist>
