<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentLabelMomentum</key>
	<string>spriteModeEdge</string>
	<key>intuitiveTopicTension</key>
	<string>loopSinceContext</string>
	<key>listviewAtShape</key>
	<string>crucialSizedboxKind</string>
	<key>offsetAmongFlyweight</key>
	<string>hardCurveShape</string>
</dict>
</plist>
