<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>immediateGesturedetectorCenter</key>
	<string>standaloneBrushDepth</string>
	<key>materialOrWork</key>
	<string>lostTransformerForce</string>
	<key>navigatorLikeVar</key>
	<string>queueVisitorBound</string>
	<key>petFromInterpreter</key>
	<string>staticResponseOrientation</string>
	<key>pointPerMode</key>
	<string>symbolForCommand</string>
	<key>scrollableTitleAppearance</key>
	<string>cubitAroundFacade</string>
</dict>
</plist>
