<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseByCycle</key>
	<string>liteResultStatus</string>
	<key>boxshadowFromComposite</key>
	<string>exceptionJobStatus</string>
	<key>desktopDecorationSkewx</key>
	<string>queryFunctionInterval</string>
	<key>dialogsOutsideLayer</key>
	<string>symbolAgainstTier</string>
	<key>enabledCubeBound</key>
	<string>draggableCurvePosition</string>
	<key>gradientInActivity</key>
	<string>keyPreviewEdge</string>
	<key>gridviewParameterPadding</key>
	<string>binaryDuringStage</string>
	<key>mediocreWidgetLocation</key>
	<string>touchAboutPlatform</string>
	<key>prevNavigatorVelocity</key>
	<string>inactiveCubitColor</string>
</dict>
</plist>
