<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderOperationTint</key>
	<string>cubeActivityOpacity</string>
	<key>commandPhaseRotation</key>
	<string>exceptionViaPattern</string>
	<key>groupInterpreterRate</key>
	<string>resultLayerInterval</string>
	<key>loopOfMethod</key>
	<string>numericalLoopTint</string>
	<key>prevLabelFormat</key>
	<string>textfieldTypeTension</string>
	<key>scrollChainScale</key>
	<string>pinchableBlocSize</string>
	<key>tabviewOrLayer</key>
	<string>intermediateUtilRight</string>
	<key>tweenAsComposite</key>
	<string>petShapeEdge</string>
</dict>
</plist>
