<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackScopeRate</key>
	<string>builderJobSaturation</string>
	<key>cupertinoFrameworkDirection</key>
	<string>tickerAndComposite</string>
	<key>flexibleImageDepth</key>
	<string>nativeVariantRate</string>
	<key>listenerAtMethod</key>
	<string>labelLevelStyle</string>
	<key>lostModulusInteraction</key>
	<string>channelDuringShape</string>
	<key>sceneNearPlatform</key>
	<string>projectAboutVar</string>
	<key>sliderEnvironmentSize</key>
	<string>managerFormInteraction</string>
	<key>symbolTaskSkewy</key>
	<string>axisExceptCycle</string>
</dict>
</plist>
