<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>catalystVarState</key>
	<string>eagerIsolateDensity</string>
	<key>diffablePlateScale</key>
	<string>parallelCoordinatorTheme</string>
	<key>frameBesideFlyweight</key>
	<string>scalePerProcess</string>
	<key>granularDependencyBehavior</key>
	<string>builderDespiteFlyweight</string>
	<key>progressbarStrategyOrigin</key>
	<string>immediateTweenFeedback</string>
	<key>resourceTypeMargin</key>
	<string>largeInkwellShade</string>
</dict>
</plist>
