<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleMonsterFeedback</key>
	<string>arithmeticResourceResponse</string>
	<key>crudeGramTop</key>
	<string>getxAdapterMomentum</string>
	<key>observerDuringProxy</key>
	<string>statelessAwayComposite</string>
	<key>switchBesideOperation</key>
	<string>injectionByTier</string>
	<key>uniqueSliderShape</key>
	<string>titleFormForce</string>
	<key>widgetFlyweightHue</key>
	<string>futureOutsideStrategy</string>
</dict>
</plist>
