<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisNumberTag</key>
	<string>specifyGetxSpacing</string>
	<key>extensionContainShape</key>
	<string>actionJobTransparency</string>
	<key>mobileLayerVelocity</key>
	<string>protectedAllocatorOpacity</string>
	<key>modelStateVelocity</key>
	<string>tickerOrScope</string>
	<key>nibFromParam</key>
	<string>sceneAsTask</string>
	<key>permissiveSlashOpacity</key>
	<string>commandBesideScope</string>
	<key>resourceWithoutPlatform</key>
	<string>subpixelInsideTier</string>
	<key>singleNotifierSpeed</key>
	<string>viewPlatformShape</string>
	<key>typicalTaskSpeed</key>
	<string>expandedFrameworkShade</string>
	<key>widgetSystemDuration</key>
	<string>positionSinceInterpreter</string>
</dict>
</plist>
