<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardDurationDelay</key>
	<string>sceneAtComposite</string>
	<key>collectionModeContrast</key>
	<string>operationContainStructure</string>
	<key>fusedDrawerMomentum</key>
	<string>constSineBrightness</string>
	<key>marginUntilChain</key>
	<string>semanticSpotEdge</string>
	<key>movementExceptType</key>
	<string>numericalSwiftOpacity</string>
	<key>presenterForNumber</key>
	<string>logarithmAdapterTint</string>
	<key>projectionForStrategy</key>
	<string>singletonThanContext</string>
	<key>robustChapterLeft</key>
	<string>positionUntilParameter</string>
	<key>unsortedSpriteInterval</key>
	<string>viewOfBuffer</string>
	<key>widgetOutsideWork</key>
	<string>zonePlatformBorder</string>
</dict>
</plist>
