<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedZoneDelay</key>
	<string>capacitiesParameterCoord</string>
	<key>mapPlatformBound</key>
	<string>paddingOutsideVariable</string>
	<key>overlayAmongNumber</key>
	<string>permissiveSceneBottom</string>
	<key>permanentTickerSpeed</key>
	<string>respectiveSpotMargin</string>
	<key>primaryModelTension</key>
	<string>asyncBaselineAlignment</string>
	<key>prismaticDescriptionLocation</key>
	<string>enabledGramSpeed</string>
	<key>routerAroundScope</key>
	<string>numericalPresenterHue</string>
	<key>sizeActivitySkewx</key>
	<string>lostPriorityPosition</string>
	<key>touchPerVariable</key>
	<string>pointSinceBridge</string>
	<key>usecaseLevelTop</key>
	<string>framePatternFeedback</string>
</dict>
</plist>
