<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>explicitLoopHue</key>
	<string>effectAroundTask</string>
	<key>lostProgressbarTag</key>
	<string>previewDuringComposite</string>
	<key>masterProcessStatus</key>
	<string>stateAndVar</string>
	<key>normalGridTransparency</key>
	<string>marginActivityCenter</string>
	<key>playbackBesideFramework</key>
	<string>projectionModeSaturation</string>
	<key>tabbarFacadeVisible</key>
	<string>commonLabelTail</string>
	<key>textfieldJobTop</key>
	<string>gridviewObserverAcceleration</string>
</dict>
</plist>
