<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decorationAboutForm</key>
	<string>labelOrSystem</string>
	<key>durationParamBottom</key>
	<string>threadAgainstFramework</string>
	<key>loopBesidePattern</key>
	<string>eventAboutTemple</string>
	<key>memberOrProxy</key>
	<string>effectLevelVelocity</string>
	<key>scaleInShape</key>
	<string>interfaceOrFunction</string>
	<key>transitionAlongParameter</key>
	<string>borderVersusShape</string>
</dict>
</plist>
