<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>easyContainerBound</key>
	<string>missedCertificateRotation</string>
	<key>equalizationFromLayer</key>
	<string>logarithmValueDepth</string>
	<key>finalHeroName</key>
	<string>marginThanLevel</string>
	<key>gesturedetectorAgainstAction</key>
	<string>popupViaBridge</string>
	<key>gridviewSingletonAcceleration</key>
	<string>constEntityName</string>
	<key>isolateUntilJob</key>
	<string>basicNavigationIndex</string>
	<key>nodeActionAcceleration</key>
	<string>displayableTextfieldBorder</string>
	<key>pivotalZoneScale</key>
	<string>denseFeatureMargin</string>
	<key>tickerAmongStrategy</key>
	<string>statefulGiftColor</string>
</dict>
</plist>
