<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandBesideInterpreter</key>
	<string>spriteThroughWork</string>
	<key>exceptionSingletonVelocity</key>
	<string>swiftStyleLocation</string>
	<key>factoryAdapterVisible</key>
	<string>pageviewCycleTransparency</string>
	<key>lostGramHue</key>
	<string>rowBesideEnvironment</string>
	<key>progressbarContainObserver</key>
	<string>stackVariableDensity</string>
	<key>textContainBuffer</key>
	<string>adaptiveLayoutHue</string>
</dict>
</plist>
