<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertDuringFramework</key>
	<string>durationStyleState</string>
	<key>builderNearMediator</key>
	<string>cubitFacadeTint</string>
	<key>convolutionInterpreterShade</key>
	<string>lossBeyondStage</string>
	<key>diversifiedControllerShade</key>
	<string>pageviewCycleTop</string>
	<key>momentumProxyFormat</key>
	<string>deferredFrameType</string>
	<key>radiusSinceFacade</key>
	<string>visibleVariantPosition</string>
	<key>sharedMaterialEdge</key>
	<string>storeBridgeMomentum</string>
</dict>
</plist>
