<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticInjectionBehavior</key>
	<string>substantialDelegateOpacity</string>
	<key>bufferExceptContext</key>
	<string>errorThanFramework</string>
	<key>currentResponseFeedback</key>
	<string>concreteClipperTint</string>
	<key>globalLogResponse</key>
	<string>overlayWithoutProcess</string>
	<key>hashAwayFramework</key>
	<string>metadataWithoutParameter</string>
	<key>notificationParamFrequency</key>
	<string>draggableCommandDensity</string>
	<key>offsetCommandSize</key>
	<string>semanticMarginLocation</string>
	<key>sliderBufferHead</key>
	<string>histogramContextDuration</string>
</dict>
</plist>
