<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterScopeSpeed</key>
	<string>commandShapeVisible</string>
	<key>characterContextPressure</key>
	<string>giftLikeJob</string>
	<key>euclideanBaseDensity</key>
	<string>queueInsideJob</string>
	<key>exceptionTierScale</key>
	<string>observerAboutType</string>
	<key>mobileStreamOpacity</key>
	<string>tabviewContainPrototype</string>
	<key>rapidTransformerRate</key>
	<string>elasticStoreTransparency</string>
	<key>resultPhaseMode</key>
	<string>denseReferenceDelay</string>
	<key>seguePhaseAlignment</key>
	<string>iconLayerFlags</string>
	<key>streamDuringMediator</key>
	<string>accessibleLayerPadding</string>
	<key>tickerExceptPattern</key>
	<string>resourceOfMediator</string>
</dict>
</plist>
