<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicSliderName</key>
	<string>factoryPatternSaturation</string>
	<key>cartesianGrayscaleCoord</key>
	<string>segmentFormLocation</string>
	<key>delicateMemberSkewx</key>
	<string>paddingTypeInteraction</string>
	<key>dependencyContainState</key>
	<string>storyboardDecoratorSpacing</string>
	<key>geometricRoleDuration</key>
	<string>resolverAtTask</string>
	<key>invisibleCallbackAlignment</key>
	<string>requiredAspectStatus</string>
	<key>oldReducerRotation</key>
	<string>buttonViaMethod</string>
	<key>particleVersusBridge</key>
	<string>semanticTimerLeft</string>
</dict>
</plist>
