<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>collectionDespiteJob</key>
	<string>animatedTaskTransparency</string>
	<key>currentFragmentBound</key>
	<string>blocExceptProcess</string>
	<key>interpolationPlatformSaturation</key>
	<string>chapterAndVisitor</string>
	<key>opaqueEquipmentInterval</key>
	<string>smartPlateCount</string>
	<key>scaleAmongState</key>
	<string>tensorSingletonOpacity</string>
	<key>switchPlatformBehavior</key>
	<string>subtleMarginDelay</string>
	<key>visibleSliderMargin</key>
	<string>staticCapacitiesRight</string>
</dict>
</plist>
