<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capsulePrototypePadding</key>
	<string>elasticTechniqueTheme</string>
	<key>containerBeyondMode</key>
	<string>vectorProcessAlignment</string>
	<key>documentParamVisible</key>
	<string>priorityBesideMode</string>
	<key>isolateVariableHead</key>
	<string>slashWithoutProxy</string>
	<key>widgetShapePadding</key>
	<string>discardedFactorySize</string>
</dict>
</plist>
