<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentTierOrientation</key>
	<string>dedicatedBrushTransparency</string>
	<key>controllerAboutState</key>
	<string>associatedTechniqueLocation</string>
	<key>flexibleSizeSize</key>
	<string>curveObserverScale</string>
	<key>hyperbolicCardMomentum</key>
	<string>tabbarOutsideTask</string>
	<key>methodWithoutStyle</key>
	<string>lazyCursorTail</string>
	<key>multiThreadVelocity</key>
	<string>resilientEffectDuration</string>
	<key>radiusAboutValue</key>
	<string>crudeContainerMomentum</string>
	<key>usedProfileContrast</key>
	<string>methodSystemMomentum</string>
</dict>
</plist>
