<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandAndKind</key>
	<string>imperativeGestureOpacity</string>
	<key>consumerStructureSkewy</key>
	<string>builderContainPattern</string>
	<key>exceptionInterpreterSpacing</key>
	<string>animatedBlocCoord</string>
	<key>greatCompleterAcceleration</key>
	<string>columnParamBehavior</string>
	<key>metadataLayerHead</key>
	<string>coordinatorViaPhase</string>
	<key>profileCompositeTension</key>
	<string>directControllerDistance</string>
	<key>scrollableTickerPadding</key>
	<string>durationInsideChain</string>
	<key>semanticSinkCount</key>
	<string>checkboxActivityDensity</string>
	<key>specifyErrorBound</key>
	<string>curveLayerBehavior</string>
	<key>storyboardNearMemento</key>
	<string>groupOutsideWork</string>
</dict>
</plist>
