<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianSlashTop</key>
	<string>criticalMusicEdge</string>
	<key>checkboxOfObserver</key>
	<string>displayableUsecaseEdge</string>
	<key>futureOfStage</key>
	<string>offsetStateVisible</string>
	<key>singleChannelsTail</key>
	<string>priorityKindLocation</string>
	<key>spriteStateFormat</key>
	<string>curveDuringForm</string>
	<key>stateVisitorPressure</key>
	<string>histogramVersusPhase</string>
	<key>topicForPattern</key>
	<string>mapThanSystem</string>
</dict>
</plist>
