<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferFromPattern</key>
	<string>injectionValueInteraction</string>
	<key>coordinatorFromSingleton</key>
	<string>sophisticatedContainerOrigin</string>
	<key>cupertinoStreamFeedback</key>
	<string>configurationOutsideStrategy</string>
	<key>observerNearForm</key>
	<string>labelInterpreterFeedback</string>
	<key>queueUntilWork</key>
	<string>gestureDespiteWork</string>
	<key>sharedCursorAlignment</key>
	<string>resultBridgeSize</string>
	<key>smartControllerShape</key>
	<string>buttonValueLocation</string>
</dict>
</plist>
