<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionRouterPadding</key>
	<string>spriteProcessDirection</string>
	<key>crudeCustompaintRate</key>
	<string>animatedcontainerAsTask</string>
	<key>errorActionOrientation</key>
	<string>labelModeStyle</string>
	<key>managerByNumber</key>
	<string>heroByType</string>
	<key>playbackLikeMemento</key>
	<string>usageByPhase</string>
	<key>screenMethodBorder</key>
	<string>rowOperationTint</string>
	<key>sharedPositionedContrast</key>
	<string>usecaseExceptType</string>
</dict>
</plist>
