<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dimensionWithoutPlatform</key>
	<string>tickerContextTag</string>
	<key>interfaceDuringParam</key>
	<string>popupAroundProcess</string>
	<key>rowOfTemple</key>
	<string>expandedCycleType</string>
	<key>subsequentChartEdge</key>
	<string>globalCoordinatorTint</string>
</dict>
</plist>
