<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonPlatformValidation</key>
	<string>checklistCycleColor</string>
	<key>expandedSinceStyle</key>
	<string>methodStateVisibility</string>
	<key>semanticRepositoryAlignment</key>
	<string>assetInterpreterState</string>
	<key>vectorInterpreterAcceleration</key>
	<string>radiusExceptStrategy</string>
</dict>
</plist>
