<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousQueueHue</key>
	<string>delegateProxyPosition</string>
	<key>clipperVisitorShade</key>
	<string>flexibleGateFeedback</string>
	<key>contractionDecoratorTransparency</key>
	<string>localizationOrStrategy</string>
	<key>directStateRight</key>
	<string>webUsageRight</string>
</dict>
</plist>
