<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleResponseBorder</key>
	<string>custompaintPerAction</string>
	<key>builderAdapterSpeed</key>
	<string>paddingPatternRight</string>
	<key>builderOutsideLayer</key>
	<string>managerStructureKind</string>
	<key>dependencyAndChain</key>
	<string>pivotalMissionOrientation</string>
	<key>layerOutsideVar</key>
	<string>skinMediatorDepth</string>
	<key>sharedReductionState</key>
	<string>modalByBuffer</string>
	<key>singleResourceMargin</key>
	<string>gradientObserverShape</string>
	<key>transitionModeBrightness</key>
	<string>graphAlongStyle</string>
</dict>
</plist>
