<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveSinceAction</key>
	<string>eagerObserverAlignment</string>
	<key>gradientInsideActivity</key>
	<string>getxLikeStrategy</string>
	<key>positionedForScope</key>
	<string>intuitiveBufferAlignment</string>
	<key>semanticCapsuleTail</key>
	<string>baseByParameter</string>
	<key>spineCompositeDelay</key>
	<string>capacitiesTaskRate</string>
	<key>transitionAndChain</key>
	<string>statelessAdapterBottom</string>
</dict>
</plist>
