<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoDependencyOrigin</key>
	<string>transformerIncludeFacade</string>
	<key>baseExceptMediator</key>
	<string>indicatorContainVar</string>
	<key>cubitSinceProcess</key>
	<string>groupMethodDistance</string>
	<key>eventBeyondTemple</key>
	<string>eventExceptType</string>
	<key>layoutWorkTail</key>
	<string>sliderAndLayer</string>
	<key>pointAsSingleton</key>
	<string>resolverAgainstStage</string>
	<key>titleParamRate</key>
	<string>interfaceLikePrototype</string>
</dict>
</plist>
