<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorStructureVisibility</key>
	<string>giftAwayTemple</string>
	<key>animatedcontainerThanCommand</key>
	<string>resolverModeResponse</string>
	<key>cartesianActivityFrequency</key>
	<string>materialTierSpacing</string>
	<key>chapterObserverTop</key>
	<string>effectDuringSingleton</string>
	<key>consumerWithContext</key>
	<string>normalAnimatedcontainerRight</string>
	<key>cupertinoCycleFeedback</key>
	<string>comprehensiveSizedboxEdge</string>
	<key>enabledBinaryColor</key>
	<string>observerAsChain</string>
</dict>
</plist>
