<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>equalizationKindRight</key>
	<string>queuePrototypeColor</string>
	<key>explicitActionState</key>
	<string>routerOutsideForm</string>
	<key>transitionAwayStage</key>
	<string>cardAboutEnvironment</string>
</dict>
</plist>
