<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalAxisFeedback</key>
	<string>layerAtLevel</string>
	<key>operationDecoratorVelocity</key>
	<string>mutableGemMomentum</string>
	<key>sliderAboutLayer</key>
	<string>inactiveTransformerSkewx</string>
	<key>subpixelWithEnvironment</key>
	<string>normalStoreTop</string>
	<key>viewVersusShape</key>
	<string>symbolChainSpeed</string>
</dict>
</plist>
