<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentTitleTop</key>
	<string>agileStepAppearance</string>
	<key>imagePerPrototype</key>
	<string>disabledCustompaintAcceleration</string>
	<key>sharedMultiplicationInset</key>
	<string>pinchableIntensityBorder</string>
	<key>spritePerFunction</key>
	<string>oldExceptionRate</string>
</dict>
</plist>
