<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationStructureVisibility</key>
	<string>spotProxyIndex</string>
	<key>cacheForFacade</key>
	<string>topicLayerDelay</string>
	<key>controllerAsAdapter</key>
	<string>texturePhaseTension</string>
	<key>dialogsBesideBuffer</key>
	<string>sustainableViewRight</string>
	<key>fixedProviderKind</key>
	<string>awaitAndProxy</string>
	<key>handlerOrState</key>
	<string>materialAndNumber</string>
	<key>intermediateEventState</key>
	<string>interactiveScaffoldRate</string>
	<key>requestFlyweightVelocity</key>
	<string>priorProfileTheme</string>
	<key>reusableNotifierDuration</key>
	<string>rapidBuilderRate</string>
</dict>
</plist>
