<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionAlongFlyweight</key>
	<string>awaitChainRotation</string>
	<key>arithmeticEffectResponse</key>
	<string>routeThanEnvironment</string>
	<key>deferredMissionLocation</key>
	<string>baseLevelAppearance</string>
	<key>playbackWithoutPhase</key>
	<string>parallelPlatePadding</string>
	<key>queryBridgeColor</key>
	<string>modulusWorkTheme</string>
	<key>reusableTextureEdge</key>
	<string>routePatternForce</string>
</dict>
</plist>
