<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveOperationDelay</key>
	<string>typicalSymbolBound</string>
	<key>customHeapLocation</key>
	<string>clipperAwayFlyweight</string>
	<key>effectAwayAdapter</key>
	<string>chartVersusScope</string>
	<key>euclideanSubscriptionMargin</key>
	<string>euclideanGestureInset</string>
	<key>futureParamTag</key>
	<string>sequentialThemeTail</string>
	<key>mediumTextureInset</key>
	<string>tweenJobLocation</string>
	<key>scrollableTweenSaturation</key>
	<string>drawerSinceEnvironment</string>
</dict>
</plist>
