<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>convolutionInterpreterFormat</key>
	<string>concurrentSessionPressure</string>
	<key>indicatorSystemDelay</key>
	<string>blocViaScope</string>
	<key>mainContainerTension</key>
	<string>adaptiveDimensionCoord</string>
	<key>navigationOrVisitor</key>
	<string>presenterExceptMode</string>
	<key>positionPrototypeDepth</key>
	<string>specifierWithFramework</string>
	<key>rapidLocalizationFlags</key>
	<string>granularBuilderDensity</string>
</dict>
</plist>
