<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cacheJobDensity</key>
	<string>modalSinceAction</string>
	<key>mobilePhaseOrientation</key>
	<string>layerStyleBrightness</string>
	<key>specifierProcessTop</key>
	<string>fixedRichtextFrequency</string>
</dict>
</plist>
