<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorMethodSaturation</key>
	<string>significantInstructionFlags</string>
	<key>desktopPresenterForce</key>
	<string>builderDuringKind</string>
	<key>radiusLayerVelocity</key>
	<string>modulusProcessIndex</string>
	<key>singleBehaviorAppearance</key>
	<string>builderTierEdge</string>
</dict>
</plist>
