<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bulletAgainstJob</key>
	<string>providerDespiteTask</string>
	<key>chartVersusStyle</key>
	<string>priorFeatureColor</string>
	<key>missedSceneSkewy</key>
	<string>intermediatePlateTheme</string>
	<key>resultStrategyFrequency</key>
	<string>finalPopupVisible</string>
	<key>segmentPhaseName</key>
	<string>constraintTypeContrast</string>
</dict>
</plist>
