<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capsuleContextEdge</key>
	<string>streamPerStage</string>
	<key>immediateFeatureBorder</key>
	<string>masterIncludeChain</string>
	<key>metadataDuringTemple</key>
	<string>durationTempleAlignment</string>
	<key>popupInterpreterContrast</key>
	<string>memberExceptVisitor</string>
	<key>prismaticRoleInset</key>
	<string>tappableSessionForce</string>
	<key>tickerFormOpacity</key>
	<string>reactiveIndicatorFormat</string>
</dict>
</plist>
