<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentWithInterpreter</key>
	<string>zoneVersusType</string>
	<key>boxshadowOrBridge</key>
	<string>storyboardLevelDuration</string>
	<key>concurrentMethodHead</key>
	<string>scrollPatternMode</string>
	<key>iterativeScaleDensity</key>
	<string>tabviewAboutFacade</string>
	<key>mediaAtVariable</key>
	<string>activePresenterDepth</string>
	<key>mobxWithoutPlatform</key>
	<string>particleContextTension</string>
	<key>rowInFramework</key>
	<string>positionContextShade</string>
	<key>scrollableIntensitySpacing</key>
	<string>autoInterfacePressure</string>
</dict>
</plist>
