<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticTaskResponse</key>
	<string>functionalDurationPressure</string>
	<key>lazyLabelShade</key>
	<string>transformerTierSpeed</string>
	<key>localizationBesideTier</key>
	<string>tickerTaskLeft</string>
	<key>newestRepositoryOpacity</key>
	<string>lastRadioDensity</string>
</dict>
</plist>
