<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveInsideProcess</key>
	<string>axisContextRight</string>
	<key>futureMediatorTension</key>
	<string>channelsChainScale</string>
	<key>gramNearFramework</key>
	<string>injectionContainParameter</string>
	<key>unaryStructureCount</key>
	<string>animationOutsideInterpreter</string>
</dict>
</plist>
