<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureOrInterpreter</key>
	<string>advancedAnchorBorder</string>
	<key>desktopBuilderTheme</key>
	<string>normAlongTask</string>
	<key>singletonPrototypeFormat</key>
	<string>navigatorVisitorRate</string>
</dict>
</plist>
