<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonChainBrightness</key>
	<string>consultativeSegmentMomentum</string>
	<key>interactorPatternRotation</key>
	<string>tabviewLikeAction</string>
	<key>notificationFlyweightSpeed</key>
	<string>routeInsideFlyweight</string>
	<key>numericalViewValidation</key>
	<string>statefulActionOrigin</string>
	<key>touchBesideScope</key>
	<string>eventAwayComposite</string>
</dict>
</plist>
