<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleRouteShade</key>
	<string>rowPerDecorator</string>
	<key>mapTierIndex</key>
	<string>customizedDescriptionKind</string>
	<key>methodFormType</key>
	<string>managerAtMethod</string>
</dict>
</plist>
