<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>certificateNearStage</key>
	<string>primaryPainterBorder</string>
	<key>diversifiedSensorStyle</key>
	<string>taskAdapterMomentum</string>
	<key>globalSessionVisible</key>
	<string>gramJobOffset</string>
	<key>playbackViaInterpreter</key>
	<string>keyBlocSpeed</string>
	<key>stateLikeFlyweight</key>
	<string>scrollAdapterLocation</string>
</dict>
</plist>
