<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveJobSpacing</key>
	<string>materialSubscriptionResponse</string>
	<key>disabledIntegerMargin</key>
	<string>criticalBoxOpacity</string>
	<key>menuLevelInteraction</key>
	<string>singletonShapeSpacing</string>
	<key>navigationAgainstAdapter</key>
	<string>resourceNearTask</string>
	<key>profileMethodRotation</key>
	<string>borderThanPrototype</string>
	<key>rapidMovementAppearance</key>
	<string>painterOutsideProcess</string>
	<key>semanticMobxPressure</key>
	<string>binaryAsType</string>
	<key>substantialStoryboardRight</key>
	<string>exponentSinceContext</string>
</dict>
</plist>
