<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>originalKernelType</key>
	<string>entityAboutParameter</string>
	<key>tensorResourceStatus</key>
	<string>transitionAroundVariable</string>
	<key>textFacadeTension</key>
	<string>crucialContainerDensity</string>
</dict>
</plist>
