<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedChannelsPosition</key>
	<string>crudeCapacitiesHead</string>
	<key>layerDuringChain</key>
	<string>sharedEventEdge</string>
	<key>layoutKindBound</key>
	<string>greatGemShade</string>
	<key>lossModeDirection</key>
	<string>threadInterpreterFlags</string>
	<key>providerVersusDecorator</key>
	<string>alphaStructureColor</string>
	<key>resolverVersusValue</key>
	<string>directResolverColor</string>
	<key>routerActivityVisible</key>
	<string>baseActivityPosition</string>
	<key>symmetricDecorationSkewx</key>
	<string>profileAsMediator</string>
</dict>
</plist>
