<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captionSinceContext</key>
	<string>projectAsLayer</string>
	<key>graphAndNumber</key>
	<string>expandedSystemResponse</string>
	<key>immutableHistogramInteraction</key>
	<string>secondSineStyle</string>
	<key>layoutMementoSkewy</key>
	<string>scrollableSkinOffset</string>
	<key>mediocreBulletType</key>
	<string>entityOfFlyweight</string>
	<key>resolverStateOrientation</key>
	<string>normKindAlignment</string>
	<key>sensorTypeOrigin</key>
	<string>lastLogarithmType</string>
	<key>singleSignatureKind</key>
	<string>rowFunctionOffset</string>
	<key>timerContainMemento</key>
	<string>compositionalMasterBorder</string>
</dict>
</plist>
