<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>popupIncludeSystem</key>
	<string>cartesianRouteRight</string>
	<key>popupParameterName</key>
	<string>custompaintStateState</string>
	<key>techniqueParameterLocation</key>
	<string>storageAwayForm</string>
</dict>
</plist>
