<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisAboutObserver</key>
	<string>graphViaWork</string>
	<key>compositionCompositeSkewy</key>
	<string>baseDespiteAction</string>
	<key>controllerBufferLocation</key>
	<string>priorButtonType</string>
	<key>drawerActionLeft</key>
	<string>dimensionTempleBehavior</string>
	<key>flexibleParticleAppearance</key>
	<string>switchPrototypeAcceleration</string>
	<key>normAroundSystem</key>
	<string>swiftStyleDuration</string>
	<key>storyboardWithPhase</key>
	<string>backwardApertureSpeed</string>
	<key>subscriptionInsideProcess</key>
	<string>newestGraphBehavior</string>
</dict>
</plist>
