<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityFlyweightDuration</key>
	<string>documentTempleHue</string>
	<key>dedicatedDelegateType</key>
	<string>scaffoldStrategyCenter</string>
	<key>dimensionFromStyle</key>
	<string>cubitAlongAdapter</string>
	<key>directListviewPadding</key>
	<string>queueInsideState</string>
	<key>enabledConstraintDelay</key>
	<string>uniformTextureContrast</string>
	<key>equalizationActivityBehavior</key>
	<string>dedicatedActionBottom</string>
	<key>isolateForPlatform</key>
	<string>taskBridgeShape</string>
	<key>precisionLayerFrequency</key>
	<string>radiusMediatorDuration</string>
	<key>unsortedOverlayTail</key>
	<string>custompaintThroughStage</string>
</dict>
</plist>
