<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderInterpreterCoord</key>
	<string>completerNumberColor</string>
	<key>checkboxJobTheme</key>
	<string>awaitStateDuration</string>
	<key>desktopQueueValidation</key>
	<string>binaryBeyondBridge</string>
	<key>interfaceStyleOrientation</key>
	<string>nodeObserverVelocity</string>
	<key>invisibleObserverResponse</key>
	<string>menuPlatformStyle</string>
	<key>isolateMethodShade</key>
	<string>capacitiesStageCoord</string>
	<key>persistentSizeLocation</key>
	<string>missionUntilParam</string>
	<key>protectedAspectStatus</key>
	<string>tweenSinceMediator</string>
	<key>smallRequestRotation</key>
	<string>subtleStorageScale</string>
</dict>
</plist>
