<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisLevelFlags</key>
	<string>streamPrototypeDirection</string>
	<key>beginnerIntegerBound</key>
	<string>otherReducerRotation</string>
	<key>chapterAndMemento</key>
	<string>spotActivityBehavior</string>
	<key>durationWithPlatform</key>
	<string>nodeEnvironmentType</string>
	<key>euclideanCallbackTint</key>
	<string>protocolProxySpacing</string>
	<key>eventVariableOrientation</key>
	<string>allocatorDuringStage</string>
	<key>immutableNavigatorKind</key>
	<string>dropdownbuttonFrameworkDuration</string>
	<key>offsetNearDecorator</key>
	<string>titleValueSaturation</string>
	<key>publicCacheInset</key>
	<string>easyBuilderPosition</string>
	<key>usedEqualizationPadding</key>
	<string>borderStyleOrigin</string>
</dict>
</plist>
