<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationDespiteFunction</key>
	<string>expandedAndFramework</string>
	<key>localBlocSkewx</key>
	<string>secondPriorityInset</string>
	<key>observerProxyVelocity</key>
	<string>geometricAxisTension</string>
	<key>prevRequestInset</key>
	<string>gramDuringPlatform</string>
	<key>responseByFacade</key>
	<string>petProxyBrightness</string>
	<key>reusableDependencyTheme</key>
	<string>remainderKindPressure</string>
	<key>rowThroughMethod</key>
	<string>independentIntensityInteraction</string>
	<key>scrollableInterfaceCoord</key>
	<string>providerByValue</string>
	<key>signAwayBuffer</key>
	<string>inheritedInterfaceKind</string>
	<key>tabviewValueVelocity</key>
	<string>lastCompletionHue</string>
</dict>
</plist>
