<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>granularStreamScale</key>
	<string>baseOfAction</string>
	<key>interactiveDecorationMomentum</key>
	<string>delegatePatternSpeed</string>
	<key>semanticSampleFormat</key>
	<string>mediocreChannelBound</string>
	<key>smallBitrateValidation</key>
	<string>accessoryBufferTail</string>
	<key>spotFacadeSpacing</key>
	<string>viewCompositeScale</string>
	<key>textWithBuffer</key>
	<string>commandCommandAcceleration</string>
	<key>vectorTempleTop</key>
	<string>storyboardStageTail</string>
</dict>
</plist>
