<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleEntitySkewx</key>
	<string>coordinatorCommandTension</string>
	<key>basicIntegerAppearance</key>
	<string>cubitAdapterState</string>
	<key>channelAlongBridge</key>
	<string>assetFromPlatform</string>
	<key>interactivePreviewLeft</key>
	<string>mainConstraintStatus</string>
	<key>invisibleTaskAppearance</key>
	<string>dependencyValueDistance</string>
	<key>loopAndComposite</key>
	<string>rectPlatformEdge</string>
	<key>navigatorExceptObserver</key>
	<string>activityTypeTransparency</string>
	<key>secondStackEdge</key>
	<string>asyncAxisFrequency</string>
	<key>sinkLevelTag</key>
	<string>liteMapDirection</string>
	<key>threadWorkDistance</key>
	<string>operationOrParameter</string>
</dict>
</plist>
