<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayableBatchScale</key>
	<string>workflowContextPosition</string>
	<key>effectCompositeEdge</key>
	<string>cubeCommandMode</string>
	<key>futureTypeName</key>
	<string>fragmentChainDirection</string>
	<key>gateFormRight</key>
	<string>rowAwayFramework</string>
	<key>sinkThroughContext</key>
	<string>durationObserverSkewy</string>
	<key>smallLayoutDuration</key>
	<string>curveAmongMediator</string>
</dict>
</plist>
