<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisViaFacade</key>
	<string>loopFrameworkColor</string>
	<key>builderAmongMethod</key>
	<string>requiredTextfieldSize</string>
	<key>durationPatternVisible</key>
	<string>remainderWithCommand</string>
	<key>materialSizeVelocity</key>
	<string>richtextWorkShape</string>
	<key>momentumViaType</key>
	<string>sensorTierShade</string>
	<key>serviceVersusTemple</key>
	<string>constraintSingletonDuration</string>
	<key>symmetricCapsuleBound</key>
	<string>mediumViewRight</string>
</dict>
</plist>
