<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorChainDistance</key>
	<string>intensityThanParameter</string>
	<key>builderChainResponse</key>
	<string>subtleChannelPadding</string>
	<key>completionStateOrientation</key>
	<string>descriptionTaskKind</string>
	<key>containerObserverSize</key>
	<string>signaturePhaseCoord</string>
	<key>descriptorObserverDuration</key>
	<string>aspectAgainstBridge</string>
	<key>ignoredLocalizationBottom</key>
	<string>mutableMobxBound</string>
	<key>reducerProxyForce</key>
	<string>resultBridgeTint</string>
	<key>stampInterpreterVisible</key>
	<string>layerAboutJob</string>
</dict>
</plist>
