<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationFromCycle</key>
	<string>viewStrategyVelocity</string>
	<key>commandSinceSingleton</key>
	<string>invisibleGestureAcceleration</string>
	<key>composableRoleSize</key>
	<string>navigationForAction</string>
	<key>constraintFromShape</key>
	<string>imperativeBlocVisible</string>
	<key>imageAlongVariable</key>
	<string>multiWidgetStyle</string>
	<key>layerThroughVisitor</key>
	<string>singletonPhaseName</string>
	<key>radiusLevelBound</key>
	<string>modalFunctionTransparency</string>
	<key>remainderLevelBehavior</key>
	<string>batchPerLevel</string>
	<key>sizeAroundTier</key>
	<string>layerInsideStructure</string>
	<key>smallShaderBorder</key>
	<string>gesturedetectorAlongAction</string>
</dict>
</plist>
