<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorOutsideNumber</key>
	<string>allocatorAlongMode</string>
	<key>concurrentViewPressure</key>
	<string>workflowStageVelocity</string>
	<key>isolateFlyweightTag</key>
	<string>criticalStateMargin</string>
	<key>isolateOrVariable</key>
	<string>respectiveBulletValidation</string>
	<key>lossLevelFlags</key>
	<string>crudeConstraintSkewx</string>
	<key>segueTypeColor</key>
	<string>gesturedetectorShapeVisible</string>
</dict>
</plist>
