<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncForMethod</key>
	<string>isolateForDecorator</string>
	<key>elasticAxisTop</key>
	<string>marginVersusStrategy</string>
	<key>materialFacadeDuration</key>
	<string>tweenStateStyle</string>
	<key>observerKindTransparency</key>
	<string>crucialFrameKind</string>
	<key>respectiveGroupAcceleration</key>
	<string>descriptorFunctionSpacing</string>
	<key>robustLossCoord</key>
	<string>geometricChartResponse</string>
	<key>signTierInset</key>
	<string>animatedGroupContrast</string>
</dict>
</plist>
