<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineAsTemple</key>
	<string>collectionInsideSingleton</string>
	<key>consumerDecoratorSkewx</key>
	<string>diffableGrayscaleAcceleration</string>
	<key>coordinatorExceptComposite</key>
	<string>permanentRouteName</string>
	<key>draggableCallbackMomentum</key>
	<string>iterativeSubscriptionRight</string>
	<key>listviewProxyBehavior</key>
	<string>eventForTemple</string>
	<key>notifierFormOrigin</key>
	<string>curveExceptSingleton</string>
	<key>pointShapeForce</key>
	<string>memberWithAdapter</string>
	<key>sensorThroughComposite</key>
	<string>pinchablePetSkewy</string>
	<key>tappableTabviewSkewy</key>
	<string>overlayOfSystem</string>
</dict>
</plist>
