<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardCapsuleInteraction</key>
	<string>asyncThroughVariable</string>
	<key>bufferDecoratorShape</key>
	<string>usedPreviewRotation</string>
	<key>capsuleActivitySpeed</key>
	<string>missionNearMode</string>
	<key>euclideanGesturedetectorSkewy</key>
	<string>transformerSingletonBrightness</string>
</dict>
</plist>
