<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureSinceContext</key>
	<string>permissiveCheckboxVisible</string>
	<key>completerBeyondShape</key>
	<string>equalizationAroundActivity</string>
	<key>concurrentFrameType</key>
	<string>aspectContainLayer</string>
	<key>kernelProcessVisible</key>
	<string>notifierDespiteFacade</string>
	<key>metadataFromNumber</key>
	<string>movementCommandShade</string>
	<key>monsterOutsideLevel</key>
	<string>lossForPattern</string>
	<key>precisionStageTop</key>
	<string>inkwellFunctionTheme</string>
	<key>radioInsideTemple</key>
	<string>semanticsBeyondParam</string>
	<key>statelessScopeTint</key>
	<string>giftNumberKind</string>
</dict>
</plist>
