<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicSegmentHue</key>
	<string>sizeSinceContext</string>
	<key>cellWorkLocation</key>
	<string>composableCoordinatorFeedback</string>
	<key>entityAndScope</key>
	<string>interactiveBlocHue</string>
	<key>labelPhaseContrast</key>
	<string>titleThroughTask</string>
	<key>lossOutsideVar</key>
	<string>elasticTaskColor</string>
	<key>queryShapeSpeed</key>
	<string>invisibleSizeEdge</string>
	<key>roleParameterAlignment</key>
	<string>uniqueKernelAppearance</string>
	<key>sceneBesideVar</key>
	<string>navigationInterpreterTail</string>
	<key>singletonByInterpreter</key>
	<string>composableStateTop</string>
	<key>smallRowLeft</key>
	<string>otherMenuKind</string>
</dict>
</plist>
