<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintDuringKind</key>
	<string>progressbarParameterLeft</string>
	<key>containerContainProxy</key>
	<string>integerMediatorCount</string>
	<key>materialContainVariable</key>
	<string>animationUntilCommand</string>
	<key>offsetExceptInterpreter</key>
	<string>textureFrameworkLeft</string>
	<key>radiusForParameter</key>
	<string>popupContainVar</string>
	<key>semanticsAroundSystem</key>
	<string>mutableBlocFormat</string>
	<key>sizeFormName</key>
	<string>discardedReducerScale</string>
</dict>
</plist>
