<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonInStructure</key>
	<string>containerStageSkewx</string>
	<key>lazyGradientResponse</key>
	<string>webTopicAlignment</string>
	<key>roleVisitorHue</key>
	<string>labelParameterStyle</string>
	<key>sortedEntropyTension</key>
	<string>reusableListenerTransparency</string>
</dict>
</plist>
