<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureInPlatform</key>
	<string>grainStyleSkewx</string>
	<key>arithmeticScaffoldTail</key>
	<string>asynchronousMethodMomentum</string>
	<key>blocContextOrigin</key>
	<string>tensorModelOrientation</string>
	<key>boxFunctionRight</key>
	<string>customCubeTag</string>
	<key>composableQueryRate</key>
	<string>granularModalKind</string>
	<key>fusedDependencyDistance</key>
	<string>catalystNearFramework</string>
	<key>resolverWithoutVar</key>
	<string>frameThroughFunction</string>
	<key>slashIncludeBuffer</key>
	<string>isolateAtKind</string>
	<key>viewKindInset</key>
	<string>pointTempleShape</string>
</dict>
</plist>
