<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticExponentKind</key>
	<string>blocOfVar</string>
	<key>euclideanCupertinoRate</key>
	<string>requestDecoratorInteraction</string>
	<key>instructionNearDecorator</key>
	<string>allocatorContainFramework</string>
	<key>interfaceMementoTop</key>
	<string>cellNearInterpreter</string>
	<key>mediaqueryForParameter</key>
	<string>containerWorkCenter</string>
	<key>profileAboutMediator</key>
	<string>errorMementoVisible</string>
	<key>queueOutsideStage</key>
	<string>finalEventOrientation</string>
	<key>tappableNotifierSpacing</key>
	<string>specifierViaComposite</string>
</dict>
</plist>
