<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileGesturedetectorColor</key>
	<string>semanticResponseAppearance</string>
	<key>dropdownbuttonInJob</key>
	<string>logarithmSinceContext</string>
	<key>eventSinceFacade</key>
	<string>commonClipperSize</string>
	<key>multiGrainStyle</key>
	<string>unaryStageTheme</string>
	<key>resultPrototypeLocation</key>
	<string>prismaticCompletionInterval</string>
	<key>scaleActivityColor</key>
	<string>resizableLayoutFlags</string>
</dict>
</plist>
