<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerProcessTheme</key>
	<string>resultForStage</string>
	<key>arithmeticCompleterOrigin</key>
	<string>mutableSpineAcceleration</string>
	<key>cycleActivityTop</key>
	<string>queueAboutType</string>
	<key>draggableSkinShade</key>
	<string>futureProcessBehavior</string>
	<key>effectAlongSingleton</key>
	<string>taskFromComposite</string>
	<key>groupUntilActivity</key>
	<string>subsequentRiverpodStatus</string>
	<key>inactiveDialogsBottom</key>
	<string>marginThanMemento</string>
	<key>sliderStyleTag</key>
	<string>streamDespiteChain</string>
	<key>themeContextTheme</key>
	<string>unsortedCallbackDistance</string>
</dict>
</plist>
