<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticLayerRate</key>
	<string>reactiveResourceCenter</string>
	<key>bitrateMementoHead</key>
	<string>flexibleMultiplicationName</string>
	<key>descriptionKindForce</key>
	<string>statefulByKind</string>
	<key>mobileCycleBottom</key>
	<string>heroActivityRotation</string>
	<key>presenterThanPrototype</key>
	<string>significantInstructionKind</string>
	<key>textInLayer</key>
	<string>routeActionAppearance</string>
	<key>zoneInsideType</key>
	<string>borderTierStatus</string>
</dict>
</plist>
