<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioMethodShade</key>
	<string>routerBridgeBound</string>
	<key>behaviorPerContext</key>
	<string>tensorWidgetTag</string>
	<key>cosineAgainstAction</key>
	<string>bitrateAsWork</string>
	<key>curveExceptMode</key>
	<string>finalSegueState</string>
	<key>draggableNormTheme</key>
	<string>cellProxyPadding</string>
	<key>extensionUntilDecorator</key>
	<string>significantTitleVelocity</string>
	<key>mapActivityColor</key>
	<string>explicitSingletonTag</string>
	<key>skinAsBridge</key>
	<string>missedTernaryMargin</string>
	<key>streamOutsideMode</key>
	<string>resultBeyondMode</string>
	<key>symmetricStackFrequency</key>
	<string>modelKindHue</string>
</dict>
</plist>
