<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedWidgetBrightness</key>
	<string>routeThroughPlatform</string>
	<key>collectionMethodStatus</key>
	<string>bitrateCommandOrientation</string>
	<key>commandAmongJob</key>
	<string>activityFacadeDepth</string>
	<key>providerObserverLocation</key>
	<string>techniqueAlongCycle</string>
	<key>segueScopeAppearance</key>
	<string>builderPrototypeOffset</string>
	<key>storeForDecorator</key>
	<string>sensorInsideVariable</string>
	<key>swiftSystemTag</key>
	<string>resizableFutureOrigin</string>
</dict>
</plist>
