<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerAroundVariable</key>
	<string>offsetInObserver</string>
	<key>metadataParameterFrequency</key>
	<string>sinkChainForce</string>
	<key>spotSingletonSkewx</key>
	<string>webCurveAlignment</string>
	<key>swiftParamFormat</key>
	<string>sequentialCursorState</string>
</dict>
</plist>
