<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveStructureInteraction</key>
	<string>transitionWithFunction</string>
	<key>directlyAlphaName</key>
	<string>substantialDimensionVelocity</string>
	<key>imageChainRotation</key>
	<string>monsterAndEnvironment</string>
	<key>singleScrollShade</key>
	<string>kernelAroundProcess</string>
	<key>variantBesideActivity</key>
	<string>substantialContainerType</string>
</dict>
</plist>
