<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionAndTask</key>
	<string>catalystInShape</string>
	<key>constraintVariableCenter</key>
	<string>resolverTierSkewx</string>
	<key>disabledFactoryOrientation</key>
	<string>listenerDuringTask</string>
	<key>durationByPlatform</key>
	<string>storageMethodScale</string>
	<key>gramThanMethod</key>
	<string>futureFlyweightInset</string>
	<key>memberBesideStage</key>
	<string>eventActivityDuration</string>
	<key>rapidLocalizationInset</key>
	<string>protectedMetadataTint</string>
	<key>respectiveApertureIndex</key>
	<string>tangentAlongJob</string>
</dict>
</plist>
