<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationInBridge</key>
	<string>decorationByVisitor</string>
	<key>chartForVariable</key>
	<string>resizableStreamCenter</string>
	<key>curvePrototypeDensity</key>
	<string>notificationValueColor</string>
	<key>metadataPrototypeVisibility</key>
	<string>responsePhaseRotation</string>
	<key>nibSingletonRight</key>
	<string>cursorOperationTag</string>
	<key>responseLikeStructure</key>
	<string>columnValueRight</string>
	<key>routeWithStyle</key>
	<string>factorySinceCycle</string>
	<key>signatureAmongEnvironment</key>
	<string>reactiveStateTheme</string>
	<key>sliderActivityOffset</key>
	<string>scaleValueContrast</string>
	<key>specifyWidgetTail</key>
	<string>logModeVelocity</string>
</dict>
</plist>
