<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorValueOrientation</key>
	<string>webToolPadding</string>
	<key>groupWithMethod</key>
	<string>dependencyLikeChain</string>
	<key>handlerTypeSpacing</key>
	<string>interpolationAmongFramework</string>
	<key>textAtParam</key>
	<string>concreteIsolateAppearance</string>
</dict>
</plist>
