<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batchDuringProcess</key>
	<string>awaitAtSingleton</string>
	<key>configurationInType</key>
	<string>responseVisitorDelay</string>
	<key>crudeGesturedetectorTheme</key>
	<string>activityBufferIndex</string>
	<key>decorationKindOrigin</key>
	<string>tensorBitrateTail</string>
	<key>deferredPositionedSkewx</key>
	<string>cupertinoOfMethod</string>
	<key>memberPlatformDelay</key>
	<string>ignoredSliderInterval</string>
	<key>particleStageBrightness</key>
	<string>responsiveExceptionSpeed</string>
	<key>spriteNearStrategy</key>
	<string>viewLikeNumber</string>
	<key>taskBeyondProxy</key>
	<string>euclideanLocalizationContrast</string>
</dict>
</plist>
