<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capsuleWorkRight</key>
	<string>directlyTransitionInteraction</string>
	<key>channelFrameworkEdge</key>
	<string>playbackCompositeAlignment</string>
	<key>directEventMomentum</key>
	<string>sliderCommandDepth</string>
	<key>draggableEntityRotation</key>
	<string>challengeFacadeColor</string>
	<key>fusedContainerContrast</key>
	<string>granularZoneTag</string>
	<key>pivotalBuilderResponse</key>
	<string>advancedAssetBorder</string>
	<key>routerObserverOrigin</key>
	<string>semanticMovementVelocity</string>
</dict>
</plist>
