<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directLayoutVisible</key>
	<string>bitrateSinceMethod</string>
	<key>gradientByNumber</key>
	<string>positionedInChain</string>
	<key>movementParameterPosition</key>
	<string>responseAgainstScope</string>
	<key>prevLayoutDelay</key>
	<string>tabviewFunctionTheme</string>
	<key>unaryPhaseBottom</key>
	<string>roleStructureForce</string>
</dict>
</plist>
