<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioWithoutMemento</key>
	<string>actionUntilFunction</string>
	<key>asyncGramFormat</key>
	<string>alertBridgeTop</string>
	<key>flexMediatorShade</key>
	<string>segmentTempleCount</string>
	<key>interactorPatternBorder</key>
	<string>swiftTempleResponse</string>
	<key>staticThreadType</key>
	<string>overlaySinceState</string>
	<key>subsequentChapterTop</key>
	<string>scaleBesideAction</string>
</dict>
</plist>
