<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedSegmentAppearance</key>
	<string>tabbarThroughMemento</string>
	<key>aspectVariableStatus</key>
	<string>oldBaseTail</string>
	<key>bulletAdapterTheme</key>
	<string>menuPerState</string>
	<key>draggableCupertinoBottom</key>
	<string>respectiveToolDirection</string>
	<key>fusedNotificationTail</key>
	<string>containerProcessAcceleration</string>
	<key>pointFrameworkPosition</key>
	<string>streamNumberName</string>
	<key>relationalChartContrast</key>
	<string>newestMethodInset</string>
	<key>sceneActionTag</key>
	<string>prevPlateDensity</string>
	<key>unaryAtForm</key>
	<string>expandedContainBridge</string>
</dict>
</plist>
