<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorPrototypeBound</key>
	<string>compositionalButtonBorder</string>
	<key>composableCurveStatus</key>
	<string>reusableQueryForce</string>
	<key>decorationFormContrast</key>
	<string>transitionVarSpacing</string>
	<key>dedicatedDialogsOrigin</key>
	<string>responsiveColumnStyle</string>
	<key>graphicProcessPadding</key>
	<string>tappablePopupBorder</string>
	<key>imperativeResolverDelay</key>
	<string>retainedMobileInterval</string>
	<key>positionEnvironmentFormat</key>
	<string>firstCheckboxVelocity</string>
	<key>priorButtonPressure</key>
	<string>projectStyleInteraction</string>
	<key>transitionFlyweightBrightness</key>
	<string>reactiveBuilderSkewx</string>
</dict>
</plist>
