<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>documentOrContext</key>
	<string>dynamicDimensionSpacing</string>
	<key>firstCoordinatorLocation</key>
	<string>instructionProcessScale</string>
	<key>immutableEntityColor</key>
	<string>aspectratioStageDensity</string>
	<key>inkwellFacadeCount</key>
	<string>toolFromTemple</string>
	<key>listenerSinceStrategy</key>
	<string>eventAtMethod</string>
	<key>mediaMediatorTint</key>
	<string>materialParamMargin</string>
	<key>transitionPlatformFeedback</key>
	<string>progressbarStagePressure</string>
</dict>
</plist>
