<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedVectorFormat</key>
	<string>offsetDuringBridge</string>
	<key>containerVisitorTag</key>
	<string>explicitLayoutFeedback</string>
	<key>customizedTableHead</key>
	<string>directFeatureHue</string>
	<key>disabledSubscriptionResponse</key>
	<string>euclideanSubpixelVisibility</string>
	<key>interfaceFormLocation</key>
	<string>comprehensiveUtilRight</string>
	<key>kernelDecoratorCount</key>
	<string>pinchableViewMomentum</string>
	<key>listenerBridgeIndex</key>
	<string>cubeByFunction</string>
	<key>nativeTransitionOrigin</key>
	<string>monsterDuringMediator</string>
</dict>
</plist>
