<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionAdapterAlignment</key>
	<string>sliderWithoutParameter</string>
	<key>backwardRequestSpacing</key>
	<string>mediocreAnimatedcontainerType</string>
	<key>globalNodePressure</key>
	<string>checkboxTierEdge</string>
	<key>hierarchicalCurveMomentum</key>
	<string>greatBuilderSize</string>
	<key>matrixFacadePadding</key>
	<string>publicZoneState</string>
	<key>observerDuringMethod</key>
	<string>sinkSingletonKind</string>
	<key>radiusLayerOrientation</key>
	<string>rowSinceDecorator</string>
</dict>
</plist>
