<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineAwayVisitor</key>
	<string>expandedOfActivity</string>
	<key>enabledVectorDepth</key>
	<string>dimensionScopeMode</string>
	<key>hashPhaseDistance</key>
	<string>modalMethodAcceleration</string>
	<key>navigatorStrategyType</key>
	<string>sessionVersusSystem</string>
	<key>subtleRiverpodBrightness</key>
	<string>spriteFormDelay</string>
	<key>unactivatedStorageBottom</key>
	<string>sizeStrategySpacing</string>
</dict>
</plist>
