<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionFlyweightFeedback</key>
	<string>otherEquipmentDensity</string>
	<key>axisObserverFormat</key>
	<string>reusableTransitionCenter</string>
	<key>bulletPrototypeTop</key>
	<string>inactiveTabbarRight</string>
	<key>labelAlongLevel</key>
	<string>themeTempleEdge</string>
	<key>modelAdapterTag</key>
	<string>compositionalOptimizerPosition</string>
	<key>nativeCallbackSize</key>
	<string>lazyTweenBorder</string>
	<key>resourceAboutTemple</key>
	<string>imageAdapterAlignment</string>
	<key>routeAmongLevel</key>
	<string>errorObserverStyle</string>
	<key>serviceVersusStyle</key>
	<string>widgetWithFlyweight</string>
	<key>stateStrategyOrigin</key>
	<string>handlerExceptTemple</string>
</dict>
</plist>
