<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedFutureMode</key>
	<string>resourceUntilSystem</string>
	<key>kernelIncludeMediator</key>
	<string>chartContainAdapter</string>
	<key>mobileChecklistAcceleration</key>
	<string>decorationVarContrast</string>
	<key>painterWithSystem</key>
	<string>rowStageBorder</string>
	<key>routerFromParam</key>
	<string>asyncJobSkewx</string>
	<key>segueDespiteState</key>
	<string>immediateAnimationFeedback</string>
	<key>subscriptionOperationDepth</key>
	<string>customPreviewOrigin</string>
</dict>
</plist>
