<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>effectFlyweightStyle</key>
	<string>layerVariableKind</string>
	<key>independentCapacitiesTop</key>
	<string>resourceStrategyTop</string>
	<key>interfaceAtTemple</key>
	<string>cellMediatorInterval</string>
	<key>retainedServiceEdge</key>
	<string>semanticsProxyName</string>
	<key>rowActionLeft</key>
	<string>logarithmAsSystem</string>
	<key>scaleLevelForce</key>
	<string>sequentialSubpixelState</string>
	<key>scrollBufferStyle</key>
	<string>responsiveGridFeedback</string>
	<key>standaloneLayerMargin</key>
	<string>menuChainFrequency</string>
	<key>tangentVarBehavior</key>
	<string>awaitAndMemento</string>
</dict>
</plist>
