<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationStateShade</key>
	<string>durationAlongAction</string>
	<key>cartesianModelBottom</key>
	<string>parallelSegueContrast</string>
	<key>cosineAlongJob</key>
	<string>originalTweenTop</string>
	<key>directlyCosineRate</key>
	<string>retainedMobileDistance</string>
	<key>featureThanStyle</key>
	<string>cupertinoTaskRight</string>
	<key>menuDespiteVariable</key>
	<string>sophisticatedControllerShape</string>
	<key>serviceBufferPressure</key>
	<string>sizeAmongProxy</string>
</dict>
</plist>
