<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonAspectratioShade</key>
	<string>chartAlongCycle</string>
	<key>controllerThroughShape</key>
	<string>streamOfFacade</string>
	<key>convolutionOperationRotation</key>
	<string>aspectratioChainInteraction</string>
	<key>extensionBeyondChain</key>
	<string>labelTypeDuration</string>
	<key>firstChartSize</key>
	<string>queryFromProxy</string>
	<key>lossParameterResponse</key>
	<string>descriptionMediatorTransparency</string>
	<key>sensorDuringTier</key>
	<string>petContainForm</string>
	<key>sharedBufferResponse</key>
	<string>appbarTierColor</string>
</dict>
</plist>
