<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackContextDuration</key>
	<string>repositoryInsideForm</string>
	<key>consultativeSubscriptionInset</key>
	<string>storeOfVisitor</string>
	<key>histogramModeRotation</key>
	<string>routeVarFormat</string>
	<key>sequentialViewOrigin</key>
	<string>normChainVisibility</string>
	<key>statefulRowValidation</key>
	<string>routeOfPattern</string>
</dict>
</plist>
