<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concurrentTweenContrast</key>
	<string>segueStyleTint</string>
	<key>controllerNumberShade</key>
	<string>sensorAtBuffer</string>
	<key>hierarchicalRouteInset</key>
	<string>providerWithoutMethod</string>
	<key>sliderAtForm</key>
	<string>playbackFunctionShade</string>
	<key>statefulOptionAlignment</key>
	<string>chapterInPlatform</string>
</dict>
</plist>
