<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetOutsideStage</key>
	<string>graphicTypeMode</string>
	<key>asyncCubitDepth</key>
	<string>explicitCurveIndex</string>
	<key>custompaintValueCenter</key>
	<string>unactivatedCompositionCoord</string>
	<key>decorationEnvironmentRate</key>
	<string>ignoredSizeTint</string>
	<key>intensityMementoTint</key>
	<string>cubitContextKind</string>
	<key>loopBesideTask</key>
	<string>inheritedDecorationMargin</string>
	<key>mapDespitePattern</key>
	<string>greatTouchTension</string>
	<key>resilientConsumerPosition</key>
	<string>sustainableFutureDepth</string>
	<key>streamAboutWork</key>
	<string>checklistWithTask</string>
</dict>
</plist>
