<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureBesideLayer</key>
	<string>resourceDecoratorFrequency</string>
	<key>blocVarSpeed</key>
	<string>futureBesideBridge</string>
	<key>dedicatedBinaryMode</key>
	<string>observerExceptType</string>
	<key>dedicatedInterfaceHue</key>
	<string>storageInsideKind</string>
	<key>graphParamTail</key>
	<string>notificationPerJob</string>
	<key>intuitiveChartDensity</key>
	<string>interactorSystemTop</string>
	<key>normalBulletShape</key>
	<string>prismaticEventDirection</string>
	<key>widgetContainMethod</key>
	<string>iterativeAccessoryOffset</string>
</dict>
</plist>
