<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileCommandStyle</key>
	<string>layoutTemplePosition</string>
	<key>compositionByFramework</key>
	<string>cupertinoDecoratorShape</string>
	<key>configurationAmongJob</key>
	<string>hardPlateRotation</string>
	<key>immutableGraphMomentum</key>
	<string>interactiveTextDensity</string>
	<key>isolateContainEnvironment</key>
	<string>associatedBaseKind</string>
	<key>multiplicationAroundSingleton</key>
	<string>containerLayerTail</string>
	<key>threadAgainstBuffer</key>
	<string>segmentVersusOperation</string>
</dict>
</plist>
