<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentObserverTension</key>
	<string>progressbarOrFramework</string>
	<key>cosineFormBorder</key>
	<string>sensorPerInterpreter</string>
	<key>promiseMementoType</key>
	<string>futureVarStyle</string>
	<key>providerDespiteAction</key>
	<string>curveParameterTension</string>
	<key>resourceBesideForm</key>
	<string>logarithmAboutVariable</string>
	<key>widgetUntilFunction</key>
	<string>shaderOutsideCycle</string>
</dict>
</plist>
