<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>difficultDescriptionPadding</key>
	<string>consultativeErrorForce</string>
	<key>disabledShaderDelay</key>
	<string>commonBlocSize</string>
	<key>momentumCompositeRotation</key>
	<string>animationBufferTension</string>
	<key>rowAdapterInset</key>
	<string>responsiveAnimationBehavior</string>
</dict>
</plist>
