<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entityAdapterLeft</key>
	<string>promiseVarForce</string>
	<key>navigatorPhaseSpacing</key>
	<string>effectPrototypeLeft</string>
	<key>nodeUntilComposite</key>
	<string>rectOperationMargin</string>
	<key>pinchableAllocatorRotation</key>
	<string>reducerOutsideParameter</string>
	<key>taskAtLevel</key>
	<string>inheritedClipperContrast</string>
</dict>
</plist>
