<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionAwayObserver</key>
	<string>diversifiedRemainderSpeed</string>
	<key>commonBoxMargin</key>
	<string>exceptionWithFlyweight</string>
	<key>criticalHandlerAlignment</key>
	<string>coordinatorSingletonTag</string>
	<key>flexPrototypeScale</key>
	<string>playbackAgainstVisitor</string>
	<key>frameBufferMargin</key>
	<string>publicBoxForce</string>
	<key>gateExceptMemento</key>
	<string>subpixelLayerVisible</string>
	<key>nibFunctionHue</key>
	<string>disabledGraphicFeedback</string>
	<key>storeAlongStrategy</key>
	<string>equalizationIncludeActivity</string>
</dict>
</plist>
