<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completionAlongStyle</key>
	<string>zoneChainSaturation</string>
	<key>disparateHandlerSaturation</key>
	<string>modalAsLevel</string>
	<key>extensionStrategyVisible</key>
	<string>originalMonsterEdge</string>
	<key>hardObserverInterval</key>
	<string>activeControllerTransparency</string>
	<key>loopAmongVisitor</key>
	<string>batchVisitorFlags</string>
	<key>protectedMovementScale</key>
	<string>painterSystemName</string>
	<key>usecaseNearLevel</key>
	<string>factoryFlyweightMargin</string>
</dict>
</plist>
