<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dropdownbuttonStructureRotation</key>
	<string>firstRequestSpacing</string>
	<key>exponentOfMode</key>
	<string>storyboardActivityCenter</string>
	<key>firstTouchBrightness</key>
	<string>associatedEffectBound</string>
	<key>groupNearComposite</key>
	<string>arithmeticTextureTheme</string>
	<key>integerDespiteContext</key>
	<string>transitionLayerTheme</string>
	<key>pageviewModeBound</key>
	<string>materialRectTint</string>
	<key>spineFlyweightTint</key>
	<string>explicitBoxCount</string>
</dict>
</plist>
