<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferInsideParameter</key>
	<string>lossVisitorState</string>
	<key>comprehensiveNodeEdge</key>
	<string>workflowExceptFlyweight</string>
	<key>difficultActionVisibility</key>
	<string>statefulRowSpeed</string>
	<key>metadataOfMemento</key>
	<string>mediumSubscriptionSpeed</string>
	<key>permanentCompleterOffset</key>
	<string>decorationPlatformVisibility</string>
	<key>primaryGraphicType</key>
	<string>enabledCompleterInteraction</string>
	<key>priorViewOpacity</key>
	<string>mobileFromAction</string>
	<key>smallCompleterDuration</key>
	<string>displayableAllocatorStyle</string>
</dict>
</plist>
