<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>durationBeyondPhase</key>
	<string>responsiveFrameFlags</string>
	<key>extensionThanSingleton</key>
	<string>tableJobShape</string>
	<key>interactiveDrawerRight</key>
	<string>tickerSystemOrientation</string>
	<key>missedCardPadding</key>
	<string>reusableBaselineColor</string>
	<key>persistentSizePosition</key>
	<string>textureAgainstInterpreter</string>
	<key>progressbarWithMode</key>
	<string>liteCaptionLocation</string>
	<key>repositoryContainPhase</key>
	<string>inactiveEffectDistance</string>
	<key>signFromActivity</key>
	<string>expandedWithPhase</string>
	<key>spriteKindLocation</key>
	<string>associatedAnchorBound</string>
</dict>
</plist>
