<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeContainerIndex</key>
	<string>layoutBeyondCommand</string>
	<key>baselineThanPhase</key>
	<string>compositionNumberTransparency</string>
	<key>commonConfigurationCoord</key>
	<string>otherQueryBehavior</string>
	<key>eventContainFacade</key>
	<string>materialMetadataEdge</string>
	<key>factoryDespitePhase</key>
	<string>finalFactoryShape</string>
	<key>featureBufferFrequency</key>
	<string>bufferVersusVariable</string>
	<key>repositoryWithoutKind</key>
	<string>captionJobHead</string>
	<key>rowDuringWork</key>
	<string>stateCycleMomentum</string>
	<key>serviceForTemple</key>
	<string>storyboardAroundComposite</string>
</dict>
</plist>
