<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedTitleFormat</key>
	<string>commandOutsideStructure</string>
	<key>dimensionStageValidation</key>
	<string>reductionFrameworkAcceleration</string>
	<key>inactiveCubeSkewy</key>
	<string>singletonJobShape</string>
	<key>mediaqueryFormForce</key>
	<string>kernelThanState</string>
	<key>uniformCompleterDirection</key>
	<string>hashLayerBorder</string>
</dict>
</plist>
