<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedTaskSkewy</key>
	<string>resourceBeyondCommand</string>
	<key>aspectJobSpeed</key>
	<string>widgetModeVelocity</string>
	<key>durationKindDuration</key>
	<string>timerCycleDistance</string>
	<key>movementOfAdapter</key>
	<string>staticMovementFrequency</string>
	<key>progressbarInMode</key>
	<string>publicConstraintState</string>
	<key>queuePatternEdge</key>
	<string>autoConstraintDensity</string>
</dict>
</plist>
