<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decorationAwayTier</key>
	<string>topicOperationTop</string>
	<key>frameInterpreterHead</key>
	<string>transitionPlatformInset</string>
	<key>metadataStrategyCenter</key>
	<string>concreteGesturedetectorRate</string>
	<key>usecaseChainOpacity</key>
	<string>routeVariableCount</string>
</dict>
</plist>
