<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entityForState</key>
	<string>storyboardBufferTag</string>
	<key>explicitBoxOpacity</key>
	<string>keyIntegerMode</string>
	<key>imperativeBlocVelocity</key>
	<string>subtleMemberBound</string>
	<key>newestSignatureLeft</key>
	<string>serviceNearOperation</string>
	<key>publicTextTag</key>
	<string>originalEventBrightness</string>
	<key>transformerBeyondFramework</key>
	<string>dedicatedIconDirection</string>
	<key>tweenStageVisibility</key>
	<string>routeWithParameter</string>
	<key>vectorByDecorator</key>
	<string>accordionGemKind</string>
</dict>
</plist>
