<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>difficultDurationRight</key>
	<string>largeColumnSpacing</string>
	<key>largeListviewSize</key>
	<string>scaleFunctionType</string>
	<key>materialAdapterHead</key>
	<string>responsiveMaterialPressure</string>
	<key>tickerAmongState</key>
	<string>borderStageTransparency</string>
	<key>topicAwayBuffer</key>
	<string>catalystStageBehavior</string>
</dict>
</plist>
