<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorFunctionSpeed</key>
	<string>listenerAsPattern</string>
	<key>crucialButtonOrientation</key>
	<string>numericalRowAcceleration</string>
	<key>localRadioFlags</key>
	<string>viewViaInterpreter</string>
	<key>localizationPhaseScale</key>
	<string>lastCycleStatus</string>
	<key>missionInPrototype</key>
	<string>storageVariableSkewy</string>
	<key>oldCompletionTail</key>
	<string>nibCompositeTail</string>
	<key>rectThanMethod</key>
	<string>projectAlongVar</string>
</dict>
</plist>
