<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>desktopAnimatedcontainerTag</key>
	<string>hashFrameworkTension</string>
	<key>gradientStrategyOrientation</key>
	<string>boxshadowMementoMode</string>
	<key>hierarchicalPopupRate</key>
	<string>protocolDespiteOperation</string>
	<key>tweenPlatformDistance</key>
	<string>activatedContainerAcceleration</string>
</dict>
</plist>
