<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileIsolateTail</key>
	<string>originalTopicOffset</string>
	<key>associatedBufferPressure</key>
	<string>precisionAmongContext</string>
	<key>builderStructureType</key>
	<string>movementAdapterOrientation</string>
	<key>finalFeatureKind</key>
	<string>marginBesideMediator</string>
	<key>heapSincePlatform</key>
	<string>notificationFacadeShape</string>
	<key>ignoredTweenVisibility</key>
	<string>blocNumberCenter</string>
	<key>optimizerBesideOperation</key>
	<string>resourceLikeBuffer</string>
	<key>specifierAsMethod</key>
	<string>nodeEnvironmentBrightness</string>
	<key>uniformIndicatorOffset</key>
	<string>zoneLikeLevel</string>
</dict>
</plist>
