<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationAndLayer</key>
	<string>zoneOrComposite</string>
	<key>cupertinoMediaqueryMode</key>
	<string>reusableAnimatedcontainerDistance</string>
	<key>delegateBufferOffset</key>
	<string>hashOrLayer</string>
	<key>lazyTextTag</key>
	<string>symbolFrameworkType</string>
	<key>nativeOffsetPadding</key>
	<string>priorRichtextOrigin</string>
	<key>newestKernelScale</key>
	<string>fusedCompleterTheme</string>
	<key>rowTaskValidation</key>
	<string>rowFacadeInteraction</string>
	<key>slashOfBridge</key>
	<string>precisionAroundProxy</string>
	<key>subsequentMenuOffset</key>
	<string>singleBinaryKind</string>
	<key>unactivatedInteractorFormat</key>
	<string>futurePerBuffer</string>
</dict>
</plist>
