<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedEqualizationMomentum</key>
	<string>positionAsSystem</string>
	<key>checklistParamForce</key>
	<string>requestAlongMediator</string>
	<key>dialogsScopeDirection</key>
	<string>decorationAndNumber</string>
	<key>handlerProcessTransparency</key>
	<string>gramActionLeft</string>
	<key>imperativeMobileHue</key>
	<string>normalZoneFormat</string>
	<key>popupCompositeSaturation</key>
	<string>groupSystemDirection</string>
	<key>radioTempleVisibility</key>
	<string>boxForForm</string>
	<key>resourcePerStyle</key>
	<string>routeAsVar</string>
	<key>significantOffsetVelocity</key>
	<string>grainOperationSaturation</string>
	<key>themeSinceNumber</key>
	<string>taskActionSkewx</string>
</dict>
</plist>
