<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationPhaseOrientation</key>
	<string>firstThemeAppearance</string>
	<key>animationViaBuffer</key>
	<string>batchThroughJob</string>
	<key>coordinatorBufferLocation</key>
	<string>modelAlongFramework</string>
	<key>globalOptimizerMomentum</key>
	<string>smartCubeCount</string>
	<key>heroViaLevel</key>
	<string>concretePlaybackShape</string>
	<key>paddingOutsideValue</key>
	<string>missedProviderSpacing</string>
	<key>rectPatternDirection</key>
	<string>alertExceptMemento</string>
</dict>
</plist>
