<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cosineDespiteKind</key>
	<string>certificateProcessInset</string>
	<key>cubitFlyweightOrientation</key>
	<string>toolForOperation</string>
	<key>decorationDecoratorOpacity</key>
	<string>cursorSinceType</string>
	<key>desktopGrayscaleShape</key>
	<string>timerAmongParameter</string>
	<key>dynamicTextureForce</key>
	<string>groupExceptWork</string>
	<key>resolverStrategyFormat</key>
	<string>unactivatedIntensityIndex</string>
	<key>sensorVisitorOpacity</key>
	<string>flexibleBufferRight</string>
	<key>tappablePresenterValidation</key>
	<string>matrixProcessFlags</string>
</dict>
</plist>
