<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetFunctionValidation</key>
	<string>heapContainLayer</string>
	<key>behaviorAboutWork</key>
	<string>rapidRepositoryAcceleration</string>
	<key>configurationContextBorder</key>
	<string>bitrateFromProcess</string>
	<key>interactorKindHead</key>
	<string>keyPositionVisible</string>
	<key>nodePhaseDelay</key>
	<string>resilientHistogramTop</string>
	<key>pointSystemStyle</key>
	<string>textStyleDensity</string>
	<key>positionThanTask</key>
	<string>callbackStrategySpeed</string>
	<key>presenterAlongScope</key>
	<string>controllerValueSpacing</string>
</dict>
</plist>
