<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushAwayParameter</key>
	<string>independentUtilBottom</string>
	<key>cartesianListviewLocation</key>
	<string>secondMetadataRotation</string>
	<key>containerByAdapter</key>
	<string>multiplicationCompositeTheme</string>
	<key>directlyBlocTail</key>
	<string>unaryOperationStyle</string>
	<key>integerNumberSpeed</key>
	<string>completionDecoratorRotation</string>
	<key>listenerWithoutParameter</key>
	<string>completerStateOrigin</string>
	<key>mediaqueryIncludeType</key>
	<string>boxJobDistance</string>
	<key>modelVarRotation</key>
	<string>displayableProviderSkewy</string>
	<key>sophisticatedAnimationLeft</key>
	<string>requestVisitorOrigin</string>
	<key>statefulVisitorResponse</key>
	<string>providerMediatorScale</string>
</dict>
</plist>
