<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveCommandOffset</key>
	<string>concreteLocalizationRotation</string>
	<key>delicateGateOrigin</key>
	<string>gridLikeType</string>
	<key>diffableChecklistSkewy</key>
	<string>agileTextfieldResponse</string>
	<key>fusedBoxShape</key>
	<string>managerContainBridge</string>
	<key>rowVersusPattern</key>
	<string>radiusVersusFramework</string>
</dict>
</plist>
