<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerChainRate</key>
	<string>crudeCharacterIndex</string>
	<key>equipmentDuringParameter</key>
	<string>mainRadiusAcceleration</string>
	<key>queryOutsideVar</key>
	<string>grainMementoHue</string>
	<key>storeInBridge</key>
	<string>heroFormTag</string>
	<key>tensorPlateDirection</key>
	<string>sequentialSemanticsOpacity</string>
	<key>webSceneHead</key>
	<string>functionalIntensityLocation</string>
</dict>
</plist>
