<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customStampTransparency</key>
	<string>webControllerFlags</string>
	<key>finalQueueShape</key>
	<string>streamContextTag</string>
	<key>multiReductionTransparency</key>
	<string>sinkAtAction</string>
	<key>mutableResourceInset</key>
	<string>requestActivityMomentum</string>
	<key>sensorVersusSystem</key>
	<string>rowEnvironmentTransparency</string>
</dict>
</plist>
