<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoRadiusRotation</key>
	<string>directlyMenuCenter</string>
	<key>behaviorPhaseStyle</key>
	<string>deferredIsolateTag</string>
	<key>commonMetadataCoord</key>
	<string>featureContainPattern</string>
	<key>menuVariableForce</key>
	<string>similarGradientVelocity</string>
	<key>monsterStateFeedback</key>
	<string>concreteControllerCount</string>
	<key>significantConfigurationFrequency</key>
	<string>particleOperationStatus</string>
	<key>statefulMethodMargin</key>
	<string>normBeyondDecorator</string>
	<key>textfieldInPhase</key>
	<string>storeInsideBridge</string>
	<key>usecaseAtNumber</key>
	<string>dialogsAsProxy</string>
	<key>variantLayerOrigin</key>
	<string>layoutDespiteTemple</string>
</dict>
</plist>
