<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationViaCommand</key>
	<string>curveEnvironmentBehavior</string>
	<key>bitrateForVar</key>
	<string>sizedboxDespiteScope</string>
	<key>canvasBesidePhase</key>
	<string>frameTempleDensity</string>
	<key>cosineStateLocation</key>
	<string>logarithmLayerStatus</string>
	<key>diversifiedBuilderLeft</key>
	<string>musicInsideProxy</string>
	<key>imageAmongParameter</key>
	<string>materialPriorityTension</string>
	<key>liteNodeTransparency</key>
	<string>extensionViaInterpreter</string>
	<key>queryAsStage</key>
	<string>compositionalAccessoryBottom</string>
	<key>remainderOutsideType</key>
	<string>opaquePresenterOrientation</string>
	<key>transitionBufferSpacing</key>
	<string>protectedCurveSize</string>
</dict>
</plist>
