<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frameUntilFacade</key>
	<string>projectionVisitorTop</string>
	<key>integerBeyondMemento</key>
	<string>tickerExceptChain</string>
	<key>interpolationFormOrientation</key>
	<string>chartLevelName</string>
	<key>scrollableSinkPadding</key>
	<string>chapterViaNumber</string>
</dict>
</plist>
