<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncRadiusAlignment</key>
	<string>resizableCellRate</string>
	<key>descriptorThanSystem</key>
	<string>protocolSinceMethod</string>
	<key>ephemeralMobileBorder</key>
	<string>navigatorSystemRight</string>
	<key>futureVisitorAcceleration</key>
	<string>cartesianTabbarScale</string>
	<key>geometricCommandSaturation</key>
	<string>newestSpriteStatus</string>
	<key>lossInInterpreter</key>
	<string>tabbarSystemColor</string>
	<key>modalAgainstPlatform</key>
	<string>alignmentContextSize</string>
	<key>navigatorOperationDelay</key>
	<string>customOperationTail</string>
	<key>temporaryModulusCenter</key>
	<string>instructionBufferSpacing</string>
</dict>
</plist>
