<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationFacadeName</key>
	<string>labelOfFunction</string>
	<key>localViewCoord</key>
	<string>grainThanForm</string>
	<key>metadataAmongWork</key>
	<string>standaloneHeroAlignment</string>
	<key>offsetMediatorAlignment</key>
	<string>specifierAmongComposite</string>
	<key>typicalSinkMomentum</key>
	<string>topicDecoratorBehavior</string>
</dict>
</plist>
