<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveRouteTheme</key>
	<string>lazyFeatureType</string>
	<key>apertureForTask</key>
	<string>unaryContextMomentum</string>
	<key>assetJobOrigin</key>
	<string>usecaseOutsideFacade</string>
	<key>coordinatorParamAlignment</key>
	<string>popupSinceMode</string>
	<key>mobileDurationStyle</key>
	<string>tickerStateDuration</string>
	<key>spineScopePosition</key>
	<string>progressbarSingletonSaturation</string>
</dict>
</plist>
