<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncDuringObserver</key>
	<string>streamFlyweightTransparency</string>
	<key>coordinatorByValue</key>
	<string>repositoryPatternBrightness</string>
	<key>durationWithFacade</key>
	<string>significantCurveTheme</string>
	<key>pivotalLayoutOpacity</key>
	<string>firstShaderTransparency</string>
	<key>playbackInsideMemento</key>
	<string>directlyMultiplicationTint</string>
</dict>
</plist>
