<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumerWorkOffset</key>
	<string>greatCompleterRight</string>
	<key>decorationAdapterSpacing</key>
	<string>animatedPositionedDuration</string>
	<key>hardUnaryCoord</key>
	<string>criticalMasterValidation</string>
	<key>metadataTypeCoord</key>
	<string>seamlessDurationEdge</string>
	<key>navigatorTempleShade</key>
	<string>cardThroughVar</string>
	<key>popupPrototypeHue</key>
	<string>requestNearProxy</string>
	<key>standaloneManagerShade</key>
	<string>tensorStatefulSkewx</string>
	<key>widgetOfParam</key>
	<string>gestureCommandPressure</string>
</dict>
</plist>
