<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionBufferAppearance</key>
	<string>chapterAboutShape</string>
	<key>checkboxExceptStyle</key>
	<string>visibleLayoutScale</string>
	<key>compositionSingletonPosition</key>
	<string>tickerOfParam</string>
	<key>overlayExceptProcess</key>
	<string>handlerPrototypeCenter</string>
	<key>rectStageTag</key>
	<string>eventTypeSkewy</string>
	<key>sequentialProviderTheme</key>
	<string>tweenAroundState</string>
</dict>
</plist>
