<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerSinceKind</key>
	<string>metadataActivityTint</string>
	<key>dropdownbuttonScopeBound</key>
	<string>compositionalTextureSkewy</string>
	<key>invisibleAlphaOrigin</key>
	<string>radioSingletonOrigin</string>
	<key>isolateEnvironmentInteraction</key>
	<string>exponentDuringMemento</string>
	<key>navigationSingletonLocation</key>
	<string>statelessAlignmentTint</string>
	<key>pageviewMediatorTension</key>
	<string>metadataPerShape</string>
	<key>sessionProcessBrightness</key>
	<string>relationalHeapTop</string>
	<key>substantialBlocValidation</key>
	<string>exceptionOrAdapter</string>
</dict>
</plist>
