<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorDuringState</key>
	<string>scaffoldTierVelocity</string>
	<key>nodeDespiteInterpreter</key>
	<string>bulletPerPhase</string>
	<key>richtextAtTask</key>
	<string>navigationCycleBorder</string>
	<key>routeVariableContrast</key>
	<string>dedicatedPetValidation</string>
</dict>
</plist>
