<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionPrototypeLeft</key>
	<string>decorationProcessDirection</string>
	<key>controllerPlatformTransparency</key>
	<string>resizableDialogsHead</string>
	<key>loopCompositeTension</key>
	<string>tickerAndKind</string>
	<key>mediaInterpreterForce</key>
	<string>graphicMementoContrast</string>
	<key>routerShapeLocation</key>
	<string>globalModulusPosition</string>
	<key>smallExtensionLeft</key>
	<string>interactorContainNumber</string>
	<key>staticBufferTransparency</key>
	<string>queryProcessEdge</string>
	<key>temporaryHandlerName</key>
	<string>uniqueStoreDuration</string>
	<key>vectorTypeBehavior</key>
	<string>extensionBeyondFunction</string>
</dict>
</plist>
