<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dedicatedBuilderType</key>
	<string>popupStateState</string>
	<key>gridContainPrototype</key>
	<string>radiusAlongMediator</string>
	<key>pageviewLevelPadding</key>
	<string>channelsObserverInterval</string>
	<key>requestIncludeObserver</key>
	<string>retainedProfileScale</string>
	<key>standaloneGemHue</key>
	<string>mobxNearFlyweight</string>
</dict>
</plist>
