<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>composableExceptionTag</key>
	<string>isolateFunctionMargin</string>
	<key>positionExceptContext</key>
	<string>appbarInterpreterTop</string>
	<key>subsequentResourceTint</key>
	<string>cubitBeyondForm</string>
</dict>
</plist>
