<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>discardedIntensityKind</key>
	<string>hardQueryPadding</string>
	<key>eagerMediaVisibility</key>
	<string>criticalPresenterTop</string>
	<key>heapForCommand</key>
	<string>binaryOfAdapter</string>
	<key>inactiveRowHue</key>
	<string>concreteInkwellMomentum</string>
	<key>signatureProxyPadding</key>
	<string>mediaqueryAboutFlyweight</string>
	<key>themeActionSaturation</key>
	<string>tabviewByTemple</string>
</dict>
</plist>
