<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarPrototypeSpacing</key>
	<string>lossAwayShape</string>
	<key>certificateOutsideState</key>
	<string>awaitForPattern</string>
	<key>cubitUntilObserver</key>
	<string>controllerVisitorOpacity</string>
	<key>diversifiedFrameFormat</key>
	<string>scrollableConsumerSkewy</string>
	<key>mediocreApertureDensity</key>
	<string>subscriptionContextBottom</string>
	<key>pivotalConfigurationResponse</key>
	<string>tabbarObserverBorder</string>
	<key>sliderAwayValue</key>
	<string>layoutTaskKind</string>
	<key>switchPerCommand</key>
	<string>interactorTempleMomentum</string>
	<key>transitionFormDensity</key>
	<string>navigatorAwayValue</string>
</dict>
</plist>
