<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleWidgetDuration</key>
	<string>hyperbolicResultPadding</string>
	<key>asyncModeLeft</key>
	<string>observerEnvironmentBound</string>
	<key>durationNearContext</key>
	<string>parallelSpriteFeedback</string>
	<key>explicitTextDirection</key>
	<string>navigationLayerSaturation</string>
	<key>flexibleStepInset</key>
	<string>queryInterpreterRate</string>
	<key>functionalExceptionHue</key>
	<string>menuMethodInteraction</string>
	<key>inkwellPerAdapter</key>
	<string>segueOutsideLevel</string>
	<key>spotByState</key>
	<string>threadPerInterpreter</string>
	<key>subscriptionContextTop</key>
	<string>notificationBufferDirection</string>
	<key>transformerKindName</key>
	<string>notificationFrameworkTop</string>
</dict>
</plist>
