<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decorationForVar</key>
	<string>specifierStyleOffset</string>
	<key>denseConstraintTail</key>
	<string>delegateVisitorShade</string>
	<key>descriptorOutsideAction</key>
	<string>assetOperationShape</string>
	<key>previewObserverTheme</key>
	<string>mobxPatternVisibility</string>
</dict>
</plist>
