<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedViewTransparency</key>
	<string>previewAndParam</string>
	<key>backwardSignatureTransparency</key>
	<string>activatedBehaviorAcceleration</string>
	<key>fusedSizeDirection</key>
	<string>popupPrototypeOffset</string>
	<key>gemSinceMethod</key>
	<string>primaryAccessoryType</string>
	<key>geometricUsecaseName</key>
	<string>interactiveInstructionFeedback</string>
	<key>semanticReferenceOrigin</key>
	<string>smallAnimationLeft</string>
	<key>spriteThanTask</key>
	<string>clipperJobIndex</string>
	<key>themeIncludeProcess</key>
	<string>nativeMetadataShade</string>
	<key>visibleGraphKind</key>
	<string>iconVariableInteraction</string>
</dict>
</plist>
